In [1]:
from datetime import date

In [2]:
my_date = date(2022, 1, 1)  # год, месяц, день
print(my_date)

2022-01-01

In [6]:
# У объекта date есть несколько атрибутов, которые позволяют получить информацию о дате.

print('Год даты: ', my_date.year)  # 2022
print('Месяц даты: ', my_date.month) # 1
print('День даты: ', my_date.day)   # 1

# день недели от 0 до 6
print('Номер дня недели даты: ', my_date.weekday())  # 5

# сегодняшняя дата на устройстве
print('Сегодняшняя дата на устройстве: ', my_date.today())

Год даты:  2022
Месяц даты:  1
День даты:  1
Номер дня недели даты:  5
Сегодняшняя дата на устройстве:  2023-09-23

In [3]:
# Если в дате нужно что-то заменить, то следует использовать replace.

my_date = date(2022, 2, 22)

In [4]:
my_date

datetime.date(2022, 2, 22)

In [9]:
my_date.replace(year = 2023)

datetime.date(2023, 2, 22)

In [8]:
my_date.replace(month = 3)

datetime.date(2022, 3, 22)

In [10]:
my_date.replace(day = 28)

datetime.date(2022, 2, 28)

In [11]:
# Даты, как и время, можно сравнивать друг с другом.

d_1 = date(2022, 2, 22)
d_2 = date(2023, 2, 22)

d_1 > d_2

False

In [17]:
# Ввести дату в формате  ISO 8601 можно так же, как и время.

d = date.fromisoformat('2022-02-22')

In [18]:
d

datetime.date(2022, 2, 22)

In [21]:
print(d.isoformat())

2022-02-22

In [23]:
# Форматировать даты можно с помощью strftime.

# Спецификатор  	 Единица времени 	 Диапазон
# %Y          	     Год    	   целое число
# %m    	         Месяц   	    '01-12'
# %d       	        День    	     '01-31'

In [28]:
my_date.strftime('%d**%m**%Y')

'22**02**2022'

In [12]:
my_date.strftime('%Y%Y%Y')

'202220222022'

# Задачи

# Задача #1

In [58]:

# Вам дана дата в формате ISO 8601. Выведите на русском языке день недели этой даты.
# В качестве вывода используйте слова: Понедельник, Вторник, Среда, Четверг, 
# Пятница, Суббота, Воскресенье.

weekdays = ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"]

In [ ]:
n_date = input()

In [62]:
n_date = '2020-06-16'
n_date

'2020-06-16'

In [60]:
n_date_isoformat = date.fromisoformat(n_date)
n_date_isoformat

datetime.date(2020, 6, 16)

In [61]:
number_of_the_day_in_week = n_date_isoformat.weekday()
number_of_the_day_in_week

1

In [59]:
print(weekdays[number_of_the_day_in_week])

Вторник

# Задача #2

In [ ]:

# Вам дан список из дат в формате ISO 8601. 
# Нужно сгрупировать их по дням, месяцам и годам и вывести в определенном формате.
# Например для дат 2020-01-01, 2022-04-01, 2021-01-02, 2023-05-02, 2023-12-02 
# результат будет таким:

{
    "days": {
        "1": [
            "2020-01-01",
            "2022-04-01"
        ],
        "2": [
            "2021-01-02",
            "2023-05-02",
            "2023-12-02"
        ]
    },
    "months": {
        "1": [
            "2020-01-01",
            "2021-01-02"
        ],
        "4": [
            "2022-04-01"
        ],
        "5": [
            "2023-05-02"
        ],
        "12": [
            "2023-12-02"
        ]
    },
    "years": {
        "2020": [
            "2020-01-01"
        ],
        "2021": [
            "2021-01-02"
        ],
        "2022": [
            "2022-04-01"
        ],
        "2023": [
            "2023-05-02",
            "2023-12-02"
        ]
    }
}

In [64]:
answer = {"days": {}, "months": {}, "years": {}}

In [68]:
answer['days'] = 1

{'days': 1, 'months': {}, 'years': {}}

In [84]:
n = int(input())
days = {}
months = {}
years = {}


for i in range(n):
    n_date = input()
    n_date_isoformat = date.fromisoformat(n_date)
    
    if n_date_isoformat.day not in days:
        days[n_date_isoformat.day] = [n_date]
    else:
        days[n_date_isoformat.day] += [n_date]
    
    
    if n_date_isoformat.month not in months:
        months[n_date_isoformat.month] = [n_date]
    else:
        months[n_date_isoformat.month] += [n_date]

        
    if n_date_isoformat.year not in years:
        years[n_date_isoformat.year] = [n_date]
    else:
        years[n_date_isoformat.year] += [n_date]

1
2022-02-22

In [85]:
days

{22: ['2022-02-22']}

In [86]:
months

{2: ['2022-02-22']}

In [87]:
years

{2022: ['2022-02-22']}

In [116]:
answer = {'days': days, 'months': months, 'years': years}

In [117]:
answer

{'days': {22: ['2022-02-22']},
 'months': {2: ['2022-02-22']},
 'years': {2022: ['2022-02-22']}}

In [118]:
import json

In [119]:
json.dumps(answer, indent = 4)

'{\n    "days": {\n        "22": [\n            "2022-02-22"\n        ]\n    },\n    "months": {\n        "2": [\n            "2022-02-22"\n        ]\n    },\n    "years": {\n        "2022": [\n            "2022-02-22"\n        ]\n    }\n}'

In [120]:
print(json.dumps(answer, indent = 4))

{
    "days": {
        "22": [
            "2022-02-22"
        ]
    },
    "months": {
        "2": [
            "2022-02-22"
        ]
    },
    "years": {
        "2022": [
            "2022-02-22"
        ]
    }
}

In [124]:
n = int(input())
lst = []
for i in range(n):
    lst.append(input())

2

In [158]:
from datetime import date
import json

n = int(input())
lst = []
for i in range(n):
    lst.append(input())
    
    
days = {}
months = {}
years = {}


for i in lst:
    
    n_date_isoformat = date.fromisoformat(i)
    
    if n_date_isoformat.day not in days:
        days[n_date_isoformat.day] = [i]
    else:
        if i not in days[n_date_isoformat.day]:
            days[n_date_isoformat.day] += [i]
    days[n_date_isoformat.day] = sorted(days[n_date_isoformat.day])
    
    if n_date_isoformat.month not in months:
        months[n_date_isoformat.month] = [i]
    else:
        if i not in months[n_date_isoformat.month]:
            months[n_date_isoformat.month] += [i]
    months[n_date_isoformat.month] = sorted(months[n_date_isoformat.month])

        
    if n_date_isoformat.year not in years:
        years[n_date_isoformat.year] = [i]
    else:
        if i not in years[n_date_isoformat.year]:
            years[n_date_isoformat.year] += [i]
    years[n_date_isoformat.year] = sorted(years[n_date_isoformat.year])

answer = {'days': dict(sorted(days.items())), 'months': dict(sorted(months.items())), 'years': dict(sorted(years.items()))}

print(json.dumps(answer, indent = 4))

2
2023-11-01
2023-12-02
{
    "days": {
        "1": [
            "2023-11-01"
        ],
        "2": [
            "2023-12-02"
        ]
    },
    "months": {
        "11": [
            "2023-11-01"
        ],
        "12": [
            "2023-12-02"
        ]
    },
    "years": {
        "2023": [
            "2023-11-01",
            "2023-12-02"
        ]
    }
}

In [157]:
sorted(years[2023])

['2023-11-01', '2023-12-02']

In [150]:
dict(sorted(days.items()))

{1: ['2023-11-01'], 2: ['2023-12-02']}

# Задача # 3

In [ ]:
# Нужно отфильтровать список интервалов. Дано две даты для фильтра – start_date и end_date, 
# составляющие временной интервал. Нужно выяснить, какие переданные интервалы 
# пересекаются с обозначенным.

# На вход программе поступают две даты для фильтра: start_date и end_date 
# через пробел, после чего идет натуральное число n. Далее идут n интервалов 
# с датами через пробел. Нужно вывести даты, которые пересекаются с периодом из фильтра.
# Даты выводите в том же порядке, в котором они пришли в программу.

In [14]:
interval = input().split()

2020-02-05 2020-02-10

In [15]:
interval

['2020-02-05', '2020-02-10']

In [17]:
start = interval[0]

In [18]:
end = interval[1]

In [16]:
n = int(input())

4

In [20]:
for i in range(n):
    int_1 = input().split()
    if int_1[1] < start:
        pass
    elif int_1[0] > end:
        pass
    
    else:
        print(int_1)

2020-02-01 2020-03-01
['2020-02-01', '2020-03-01']
2020-02-10 2020-02-20
['2020-02-10', '2020-02-20']
2020-01-10 2020-02-10
['2020-01-10', '2020-02-10']
2020-02-20 2020-03-20

In [21]:
int_1

['2020-02-20', '2020-03-20']

In [22]:
print(int_1)

['2020-02-20', '2020-03-20']

In [27]:
print(*int_1)

2020-02-20 2020-03-20

# Модуль calendar

In [ ]:
# В задачах, связанных с календарём, может помочь модуль calendar. 
# Например, получить календарь на февраль 2023 года с ним очень просто.

In [38]:
import calendar

In [21]:
year = 2023
month = 10

In [22]:
cal = calendar.month(year, month)

In [29]:
print(cal)

    October 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [39]:
# Функций у модуля большое множество. Самые, на наш взгляд, полезные, мы собрали ниже.

# import calendar

# получить количество дней в месяце и день недели, с которого начинается месяц
print(calendar.monthrange(2020, 2))  # (5, 29)
# получить двумерный массив из дней календаря по неделям
print(calendar.monthcalendar(2020,2)) # [[0, 0, 0, 0, 0, 1, 2], [3, 4, 5, 6, 7, 8, 9], [10, 11, 12, 13, 14, 15, 16], [17, 18, 19, 20, 21, 22, 23], [24, 25, 26, 27, 28, 29, 0]]
# определить, является ли год високосным
print(calendar.isleap(2020))  # True


# Если у вас стоит задача, связанная с календарём, то прежде чем идти 
# и реализовывать логику самостоятельно, загляните в документацию calendar. 
# Возможно, там уже есть подходящая функция.

(5, 29)
[[0, 0, 0, 0, 0, 1, 2], [3, 4, 5, 6, 7, 8, 9], [10, 11, 12, 13, 14, 15, 16], [17, 18, 19, 20, 21, 22, 23], [24, 25, 26, 27, 28, 29, 0]]
True

In [33]:
print ("The calendar of year 2023 is : ")
print (calendar.calendar(2023))

The calendar of year 2023 is :
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

# Задача

In [37]:
# Напишите программу, которая определяет, сколько дней в месяце даты, введённой с клавиатуры.

In [38]:
from datetime import date

In [39]:
dat = '2023-10-01'

In [ ]:
dat = input()

In [48]:
iso_dat = date.fromisoformat(dat)

In [49]:
iso_dat

datetime.date(2023, 10, 1)

In [50]:
iso_dat.month

10

In [52]:
iso_dat.year

2023

In [54]:
calendar.monthrange(iso_dat.year, iso_dat.month)[1]

31

# Задача

In [63]:
import numpy as np
import pandas as pd

In [ ]:
# Определите, сколько было понедельников в году, введённом с клавиатуры.

In [55]:
year = 2023

In [57]:
calendar.weekday(year, 10, 1)

6

In [58]:
calendar.monthcalendar(year, 10)

[[0, 0, 0, 0, 0, 0, 1],
 [2, 3, 4, 5, 6, 7, 8],
 [9, 10, 11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20, 21, 22],
 [23, 24, 25, 26, 27, 28, 29],
 [30, 31, 0, 0, 0, 0, 0]]

In [71]:
calendar.weekday(year, 10, 1) == 6

True

In [84]:
# year = 2023
year = int(input())
count = 0
for i in range(1,13):
    for j in calendar.monthcalendar(year, i):
        if j[0] != 0:
            count +=1
            
print(count)

52

# Задача

In [ ]:
# Вам нужно поздравлять ваших сотрудников с днем рождения. 
# Если у вас есть сотрудники, которые родились 29 февраля, 
# то в високосный год их нужно поздравлять в эту дату, а в 
# невисокосный 28-го февраля. Дан список дней рождений сотрудников
# и дата поздравления. Нужно вывести те даты, которые попадают под 
# поздравление в указанный день.

# Вашей программе на вход идет дата поздравления, затем натуральное число n,
# и далее n дат дней рождений. Выведите даты тех пользователей, которых 
# нужно поздравить в эту дату. Если поздравлять некого, выведите фразу: 
# Поздравлять некого

In [1]:
dat = '2022-02-28'
n = 4
a = ['1998-02-13', '1996-02-29', '2001-02-28', '1996-03-28']

In [89]:
a

['1998-02-13', '1996-02-29', '2001-02-28', '1996-03-28']

In [92]:
date.fromisoformat(a[0]).month

2

In [93]:
date.fromisoformat(a[0]).day

13

In [98]:
calendar.isleap(date.fromisoformat(dat).year)

False

In [106]:
year = date.fromisoformat(dat).year
month = date.fromisoformat(dat).month
day = date.fromisoformat(dat).day
for i in range(len(a)):
    if date.fromisoformat(a[i]).month == month and date.fromisoformat(a[i]).day == day:
        
        print(a[i])
    
    if calendar.isleap(date.fromisoformat(dat).year) is False \
    and date.fromisoformat(a[i]).month == 2 \
    and date.fromisoformat(a[i]).day == 29:
        print(a[i])

1996-02-29
2001-02-28

In [2]:
from datetime import date
import calendar

dat = '2022-02-28'
n = 4
a = ['1998-02-13', '1996-02-29', '2001-02-28', '1996-03-28']

# dat = input()
# n = int(input())
# a = []
# print(n)
# for j in range(n):
#     a.append(input())
kost = 0

year = date.fromisoformat(dat).year
month = date.fromisoformat(dat).month
day = date.fromisoformat(dat).day
for i in range(len(a)):
    if date.fromisoformat(a[i]).month == month and date.fromisoformat(a[i]).day == day:
        
        print(a[i])
        kost +=1
    
    if calendar.isleap(date.fromisoformat(dat).year) is False \
    and date.fromisoformat(a[i]).month == 2 \
    and date.fromisoformat(a[i]).day == 29:
        print(a[i])
        kost +=1
if kost == 0:
    print('Поздравлять некого')

1996-02-29
2001-02-28

# Небольшая теория к интервалам

In [ ]:
# В последней задаче этого урока вам, скорее всего, придется применить 
# несколько базовых алгоритмов работы с числовыми интервалами. Всех, 
# кто учил алгоритмы, приветствуем, а остальным попытаемся дать необходимую
# теорию, чтобы подобные задачи шли у вас проще, так как встречаются они часто.

In [ ]:
# Как склеить несколько интервалов?
# Допустим, у вас есть пересекающиеся интервалы (10, 15), (14,20), (15, 21) и 
# вам нужно их объединить в один, чтобы получилось (10-21)?

# Алгоритм следующий:

# Сортируем массив интервалов по левой границе
# Создаем новый массив и добавляем в него первый элемент массива интервалов
# Перебираем исходный массив интервалов
# На каждой интерации проверяем пересекаются ли последний элемент из нового массива и интервал
# Если да, тогда расширяем правую границу последнего элемента нового массива
# Если нет – добавляем интервал в новый массив
# Попробуйте реализовать данный алгоритм в следующей задаче!

# Задача

In [ ]:
# Вам даны состоящие из целых чисел интервалы. Если они пересекаются или между ними нет 
# промежуточных целых чисел их нужно объединить, например:

# [(10,20), (15,20)] == [(10,20)]

# [(11,20), (21-30)] == [(11,30)]

# [(10,30), (15,20)] == [(10,30)]

# [(10,20), (15,20), (5,8)] == [(10,20), (5,8)]

# Вашей программе на вход поступает натуральное число n и n интервалов, 
# каждый в новой строке с разделителем границ в пробел.

# Ваша программа должна вывести склеенные интервалы, отсортированные по левой границе.

In [ ]:
Sample Input 1:
5
10 20
15 20
5 8
6 7
40 50

Sample Output 1:
[[5, 8], [10, 20], [40, 50]]


Sample Input 2:
5
9 20
15 20
5 8
6 7
40 50

Sample Output 2:
[[5, 20], [40, 50]]


Sample Input 3:
1
9 20

Sample Output 3:
[[9, 20]]


Sample Input 4:
10
10 20
15 20
5 8
6 7
40 50
6 20
30 40
21 22
23 34
10 11

Sample Output 4:
[[5, 50]]

In [119]:
e = []

for i in range(10):
    e.append(input().split())

10 20
15 20
5 8
6 7
40 50
6 20
30 40
21 22
23 34
10 11

In [120]:
e

[['10', '20'],
 ['15', '20'],
 ['5', '8'],
 ['6', '7'],
 ['40', '50'],
 ['6', '20'],
 ['30', '40'],
 ['21', '22'],
 ['23', '34'],
 ['10', '11']]

In [121]:
e = sorted(e, key = lambda x: int(x[0]))

In [122]:
e

[['5', '8'],
 ['6', '7'],
 ['6', '20'],
 ['10', '20'],
 ['10', '11'],
 ['15', '20'],
 ['21', '22'],
 ['23', '34'],
 ['30', '40'],
 ['40', '50']]

In [123]:
start = int(e[0][0])

In [124]:
start

5

In [125]:
end = int(e[0][1])

In [126]:
end

8

In [86]:
res = []

In [133]:
e

[['5', '8'],
 ['6', '7'],
 ['6', '20'],
 ['10', '20'],
 ['10', '11'],
 ['15', '20'],
 ['21', '22'],
 ['23', '34'],
 ['30', '40'],
 ['40', '50']]

In [134]:
start = int(e[0][0])
end = int(e[0][1])


for i in range(len(e)):
    if int(e[i][0]) < end and int(e[i][1]) <= end:
        pass
    elif int(e[i][0]) == end+1 or int(e[i][0]) == end:
        end = int(e[i][1])
        continue
        
    elif int(e[i][0]) < end and int(e[i][1]) > end:
        end = int(e[i][1])
        continue
    
    elif int(e[i][0]) > end:
        res.append([start, end])
        start = int(e[i][0])
        end = int(e[i][1])
        
res.append([start, end])

In [135]:
res

[[5, 50]]

# Как облегчить свой код?

In [ ]:
# Обычно часто приходится иметь дело со списками, словарями и другими простыми 
# структурами данных. Например, вашей программе дают на вход интервал 
# из левой и правой границы: (10, 50)

# Если сохранить его в кортеж или список, то обращение к нему будет не 
# сильно удобным – interval[0], interval[1]. Можно легко забыть, где какая граница,
# а если ваш код попадет другому разработчику, то ему придется вникнуть, 
# чтобы понять, что означают эти магические индексы.

# В таких ситуациях можно использовать датаклассы (dataclass). Делается это так:

In [2]:
from dataclasses import dataclass

@dataclass
class Interval:
    date_from: int
    date_to: int

interval = Interval(date_from=10, date_to=20)

print(interval.date_from)  # 10

10

In [ ]:
# Если нужно сделать неизменяемый датакласс, то это можно сделать с 
# помощью параметра frozen. Неизменяемость дает преимущество в том, 
# что объекты интервала можно использовать в set.

In [3]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Interval:
    date_from: int
    date_to: int

interval = Interval(date_from=10, date_to=20)
interval.date_from = 20  # dataclasses.FrozenInstanceError: cannot assign to field 'date_from'

FrozenInstanceError: cannot assign to field 'date_from'

In [ ]:
# Еще один способ – это явно определить хэширующий метод.

In [6]:
from dataclasses import dataclass


@dataclass
class Interval:
    date_from: date
    date_to: date

    def __hash__(self):
        super().__hash__()
        return hash((self.date_from, self.date_to))

# Задача

In [ ]:
Вам дан список интервалов дат start_date и end_date и фильтр year. 
Нужно провести группировку дат по месяцам, причем интервалы нужно обрезать
по началу и концу месяца, чтобы за его пределы не выходило.

Например, для интервалов:

'2022-02-20' '2022-03-05'
'2022-03-20' '2022-04-10'
С фильтром year = 2022 нужно вывести:

{
    "2": [
        {
            "start_date": "2022-02-20",
            "end_date": "2022-02-28"
        }
    ],
    "3": [
        {
            "start_date": "2022-03-01",
            "end_date": "2022-03-05"
        },
        {
            "start_date": "2022-03-20",
            "end_date": "2022-03-31"
        }
    ],
    "4": [
        {
            "start_date": "2022-04-01",
            "end_date": "2022-04-10"
        }
    ]
}

На вход программе сначала идет фильтр year, 
а далее натуральное число n и n интервалов, нужно вывести группировку.

In [71]:
# Добавить к дате несколько дней можно с помощью timedelta.

from datetime import date, timedelta

d = date(2020,1,1)

print(d + timedelta(days=1))  # 2020-01-02

2020-01-02

In [ ]:
2022
2
2022-02-20 2022-03-05
2022-03-20 2022-04-10

In [2]:
year = 2020

In [3]:
n = 2

In [4]:
a = []
for i in range(n):
    a.append(input().split())

2022-02-20 2022-03-05
2022-03-20 2022-04-10

In [5]:
a

[['2022-02-20', '2022-03-05'], ['2022-03-20', '2022-04-10']]

In [ ]:
1. Сначала нужно подготовить данные

1.1 чтобы интервалы были все данного года, если правая граница - нет, то удаляем полностью интервал.
1.2. если левая граница нет - то задаем новую границу - начало года

In [ ]:
# 2020
# 2
# 2019-11-20 2019-12-19
# 2019-12-20 2020-03-05

In [63]:
a

[['2019-11-20', '2019-12-19'], ['2019-12-20', '2020-03-05']]

In [41]:
for i in a:
    if date.fromisoformat(i[1]).year != year:
        a.remove(i)
        
    if date.fromisoformat(i[0]).year != year:
        
        i[0] = str(date(year, 1, 1))

In [42]:
a

[['2020-01-01', '2020-03-05']]

In [ ]:
# + Сделано

In [19]:
# 2. Начинаем от старта, и заканчиваем эндом, если енд <= конца текущего месяца 


# 2020
# 1
# 2019-12-20 2020-03-05


a = []
for i in range(1):
    a.append(input().split())

2019-12-20 2020-03-05

In [60]:
a

[['2020-01-01', '2020-03-05']]

In [78]:
r = date.fromisoformat(a[0][1]).month - date.fromisoformat(a[0][0]).month
start = date.fromisoformat(a[0][0])
end = date.fromisoformat(a[0][1]) 

for i in range(r+1):   
        
    if end.month > start.month:
        end = date(year, start.month, calendar.monthrange(year, start.month)[1])
        
        print(start, end)
        start = end + timedelta(days = 1)
        end = date.fromisoformat(a[0][1])
        
    else:
        print(start, end)

2020-01-01 2020-01-31
2020-02-01 2020-02-29
2020-03-01 2020-03-05

In [ ]:
# Решено

In [28]:
import calendar

@dataclass(frozen=True)
class Interval:
    date_from: int
    date_to: int
        
interval = Interval(date_from = a[0][0], date_to = a[0][1])

if date.fromisoformat(interval.date_from).month <= date.fromisoformat(interval.date_to).month:
    
    start = a[0][0]
    end = a[0][1]
    
    rec_(start, end)

In [29]:
from dataclasses import dataclass

def rec_(start, end):
    start = date.fromisoformat(start)
    
    if start.month <= date.fromisoformat(a[0][1]).month:
        
        end = date(year, start.month, calendar.monthrange(year, start.month)[1])
        if end < date_to:
            print(start, end)
            start = str(end + timedelta(days=1))
            end = str(end)
            rec_(start, end)
        
        else:
            print(start, dete_to)

In [30]:
a

[['2019-12-20', '2020-03-05']]

In [31]:
start = a[0][0]
end = a[0][1]

rec_(start, end)