# Модуль time

In [ ]:
# Резюме по наивному времени
# 1. Если нам нужно посчитать время выполнения программы или куска кода то используем time.monotonic
# 2. Наивное время следует использовать только для ситуаций, когда информация о том когда 
# происходило событие не важна, например для подсчета затраченного времени на работу, 
# для всех остальных случаев нужна таймзона.
# 3. Всегда используем формат ISO 8601 для даты и времени.

In [ ]:
Начнем с простого. Самая базовая функция модуля – это time. 
Она показывает время в секундах, которое прошло, начиная с 1 января 1970 года.
Эту дату еще называют epoch time или временем начала эпохи.

In [1]:
import time

In [2]:
# время может отличаться
print(time.time())  # 1678907916.5734131

1696336470.6530275

In [ ]:
Эту функцию нельзя использовать, если вам важна точность, 
потому что тип float дает погрешности. 
Вместо нее используйте time_ns. Она отдает время в наносекундах и типе int.

In [5]:
print(time.time_ns())

1696336542646148100

In [ ]:
Чтобы конвертировать это количество секунд в читаемый формат 
можно воспользоваться функцией ctime.

In [6]:
now = time.time()
print(time.ctime(now))

Tue Oct  3 15:36:27 2023

In [ ]:
Функция time хорошо подходит для измерения времени выполнения программ и функций небольшой длительности:

In [7]:
import time

def func():
    c = 1
    for i in range(50_000_000):
        c = (i + 5) + c


start = time.time()
func()
# ваше время может отличаться
print(time.time() - start)  # 1.6221907138824463

9.728457927703857

In [ ]:
Если же вы хотите измерять время выполнения программ, которые выполняются долго, 
то функция time вам уже не подходит, так как на ее результаты влияют изменения в 
конфигурации системного времени. Это может быть как ручное изменение, так и 
автоматический перевод на летнее время. Вместо нее используйте функцию monotonic 
или monotonic_ns если важна точность.

Помимо этого, для программ с длительным выполнением обязательно нужен обработчик 
ошибок, ведь будет очень неприятно, если расчет длился 5 дней, оборвался на 
какой-то ошибке и не зафиксировался.

In [8]:
import time
from functools import wraps

def timer(func):
    @wraps(func)
    def inner(*args, **kwargs):
        start = time.monotonic()
        try:
            return func(*args, **kwargs)
        finally:
            with open("result_time.txt", 'w') as f:
                f.write(str(time.monotonic()-start))
    return inner

@timer
def func():
    c = 1
    for i in range(50_000_000):
        c = (i + 5) + c


func()

In [9]:
# Еще одной полезной функцией модуля является sleep. 
# Она позволяет заморозить выполнение кода на заданное количество 
# секунд и может быть полезна, например, чтобы не засыпать запросами чужой АПИ.

import time

time.sleep(2)  # 2 secs

# Задача

In [ ]:
Вам нужно написать декоратор для функции, который фиксирует ее лучшее время 
выполнения и записывает в файл. Например, если у функции func(1, 2) лучшее 
время выполнения 3 секунды, то в файл нужно записать строку:

func(1, 2) -> 3
В качестве результата запишите целое количество секунд. Если пользователь 
запустил функции foo(30, 40), func(3, 4) и func(1, 2) с результатами 
1, 2.5, и 2.7 то файл должен стать таким:

foo(30, 40) -> 1
func(3, 4) -> 2
func(1, 2) -> 2

Обратите внимание, что нужно записывать именно лучшее время выполнения. 
Если в программе была запущена функция func(3, 4) 2 раза с результатами 
в 3 секунды и 5 секунд, то в файле должно быть:

func(3, 4) -> 3

Результаты в файле должны быть отсортированы в порядке вызова функций программы. 

Назовите файл с результатами result_time.txt, имя декоратора оставьте неизменным.

In [ ]:
def timer(func):
    def inner(*args, **kwargs):
        ...
    return inner

In [102]:
import time
a = {}
def timer(func):
        
    with open("result_time.txt", 'w') as ff:
        pass
    def inner(*args, **kwargs):
        
        start = time.monotonic()
        try:
            return func(*args, **kwargs)
        finally:
#             a.append(time.monotonic()-start)
            if f'{func.__name__}{args}' in a:
                 a[f'{func.__name__}{args}'] += [time.monotonic()-start]
            else:
                a[f'{func.__name__}{args}'] = [time.monotonic()-start]
            
            
            
#             print(a)
            
            best_a = {}
            for k,w in a.items():
                best_a[k] = min(w)
            print(best_a)
        
            
            with open("result_time.txt", 'w') as ff:
                for k,w in best_a.items():
                    ff.write (f'{k} -> {int(w)}\n')
    return inner

@timer
def func(c, r):
    r = r*10_000_000
    for i in range(r):
        c = (i + 5) + c
        
        
@timer
def foo(c, r):
    r = r*10_000_000
    for i in range(r):
        c = (i + 5) + c


foo(3, 4)
func(3, 4)
func(3, 4)
func(1, 2)

{'foo(3, 4)': 2.2340000000003783}
{'foo(3, 4)': 2.2340000000003783, 'func(3, 4)': 2.2340000000003783}
{'foo(3, 4)': 2.2340000000003783, 'func(3, 4)': 2.2340000000003783}
{'foo(3, 4)': 2.2340000000003783, 'func(3, 4)': 2.2340000000003783, 'func(1, 2)': 1.1570000000028813}

In [ ]:
Как обозначить время и дату 13 февраля 1998 года 4:57 утра в городе Краснодаре в формате ISO 8601?

In [ ]:
# 1998-02-13T04:57:00+03:00

# Объект наивного времени

In [109]:
# Создать объект наивного времени в Python очень просто.

from datetime import time

t = time(hour=12, minute=30, second=00)

print(t)  # 12:30:00

12:30:00

In [112]:
# Такие объекты можно сравнивать друг с другом. Это позволяет узнать, что время находится в определенном диапазоне.

from datetime import time

t1 = time(12, 30, 00)
t2 = time(12, 40, 00)

print(t1 < t2)  # True

t3 = time(12, 35, 00)
print(t1 <= t3 <= t2) # True

True
True

In [113]:
# Перевод в формат ISO 8601 и обратно происходит тоже очень просто.

from datetime import time

t = time(hour=12, minute=30, second=00)

print(t.isoformat())  # 12:30:00

t2 = time.fromisoformat("12:34:56")

print(t2)  # 12:34:56

12:30:00
12:34:56

In [5]:
# Если требуется сравнивать отдельно минуты и секунды, то можно воспользоваться свойствами класса hour, minute, second.

from datetime import time

t = time(hour=12,minute=30,second=00)

print(t.hour, t.minute, t.second)  # 12 30 0

12 30 0

In [6]:
# Промежутки времени считаются достаточно просто с помощью timedelta.

from datetime import timedelta

hours1 = timedelta(hours=4)
hours2 = timedelta(hours=2)

print(hours1+hours2)  # 6:00:00

# в секундах
print((hours1+hours2) / timedelta(seconds=1))  # 21600.0

6:00:00
21600.0

# Задача

In [ ]:
# Дан список времен в формате ISO 8601 обозначающий количество времени, 
# которое пользователи вашего сайта затратили на сдачу онлайн теста. 
# Определите среднее время прохождения теста.

# Вашей программе на вход поступает натуральное число n и n строк, 
# содержащих время в формате ISO 8601. Определите среднее время и выведите его в 
# формате ISO 8601. Когда найдете среднее число отбросьте от него дробную часть с помощью int.

# Sample Input 1:
# 3
# 02:00:00
# 03:15:01
# 01:10:10
        
        
# Sample Output 1:
# 02:08:23

In [7]:
lst = []

n = int(input())
for i in range(n):
    lst.append(input())
    
print(lst)

3
02:00:00
03:15:01
01:10:10
['02:00:00', '03:15:01', '01:10:10']

In [13]:
lst[0]

'02:00:00'

In [14]:
lst[0].split(':')

['02', '00', '00']

In [16]:
hours = lst[0].split(':')[0]
hours

'02'

In [17]:
min = lst[0].split(':')[1]
min

'00'

In [18]:
sec = lst[0].split(':')[2]
sec

'00'

In [26]:
t = time(int(hours), int(min), int(sec))
t

datetime.time(2, 0)

In [30]:
t.hour*60*60 + t.minute*60 + t.second*60

7200

In [35]:
lst

['02:00:00', '03:15:01', '01:10:10']

In [57]:
total = 0

for i in lst:
    hours = i.split(':')[0]
    m = i.split(':')[1]
    sec = i.split(':')[2]
    
    t = time(int(hours), int(m), int(sec))
    print(t)

    
    total += t.hour*60*60 + t.minute*60 + t.second
    print(total)

mean_sec = int(total/len(lst))


h_min = mean_sec//60
print(h_min)

secs = mean_sec%60
print(secs)

h = h_min//60
print(h)

minuts = h_min%60
print(minuts)

02:00:00
7200
03:15:01
18901
01:10:10
23111
128
23
2
8

In [48]:
mean_sec

7920.0

In [65]:
t = time(h, minuts, secs)

In [66]:
t.isoformat()

'02:08:23'

# strftime и strptime

In [67]:
# strptime позволяет распарсить строку с помощью шаблона. 
# Если у вас стоит задача парсинга строк не в формате ISO 8601, 
# то функция вам очень поможет. К примеру вам нужно получить объект 
# time из строки: 12 часов 56 минут 45 секунд.

import time

s = "12 часов 56 минут 45 секунд"
fmt = "%H часов %M минут %S секунд"

t = time.strptime(s, fmt)

print(t.tm_hour, t.tm_min, t.tm_sec)  # 12 56 45

12 56 45

In [68]:
# Для преобразования объектов datetime.time к шаблону можно воспользоваться strftime.

from datetime import time

fmt = "%H часов %M минут %S секунд"

t = time(hour=12, minute=56, second=45)

print(time.strftime(t, fmt))  # 12 часов 56 минут 45 секунд

12 часов 56 минут 45 секунд

In [ ]:
Чтобы сформировать шаблон нужно воспользоваться спецификаторами из таблицы ниже:

Спецификатор	Единица времени	Диапазон
%H            	Часы (24 часа)  	00-23
%I            	Часы (12 часов) 	01-12
%p            	AM или PM       	AM, PM
%M            	Минуты          	00-59
%S            	Секунды         	00-59

# Задача

In [ ]:
Определите разницу во времени для t1 и t2.

Время приходит в таком формате: без {m} минут {s} секунд {h} часа

Например: без 15 минут 6 секунд 3 часа означает время равное 02:44:54
            
На вход программе идут 2 строки в странном формате, нужно определить разницу между t1 и t2 (t1-t2)


# Sample Input 1:
# без 15 минут 6 секунд 3 часа
# без 4 минут 0 секунд 2 часа


# Sample Output 1:
# 00:48:54

In [100]:
from datetime import time as t
import time as tt

s1 = input()
s2 = input()

fmt = 'без %M минут %S секунд %H часа'

t1 = tt.strptime(s1, fmt)
t2 = tt.strptime(s2, fmt)

без 15 минут 6 секунд 3 часа
без 4 минут 0 секунд 2 часа

In [145]:
lst = [t1, t2]

In [146]:
lst

[time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=3, tm_min=15, tm_sec=6, tm_wday=0, tm_yday=1, tm_isdst=-1),
 time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=2, tm_min=4, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)]

In [204]:
lst_2 = []
for i in range(len(lst)):
    hour = lst[i].tm_hour - 1
    if lst[i].tm_min == 0:
        minuts = 0
    if lst[i].tm_sec == 0:
        minuts = 60 - lst[i].tm_min
    else:
        minuts = 59 - lst[i].tm_min
    
        
    if lst[i].tm_sec == 0:
        secs = 0
    else:
        secs = 60 - lst[i].tm_sec
    lst_2.append((hour, minuts,  secs))

In [205]:
lst_2

[(2, 44, 54), (1, 56, 0)]

In [217]:
print(lst_2[0][0],  lst_2[0][1], lst_2[0][2])

2 44 54

In [210]:
print(lst_2[1][0],  lst_2[1][1], lst_2[1][2])

1 56 0

In [248]:
delta_1 = timedelta(
    days=0,
    seconds=lst_2[0][2],
    microseconds=0,
    milliseconds=0,
    minutes=lst_2[0][1],
    hours=lst_2[0][0],
    weeks=0
)

In [249]:
delta_1

datetime.timedelta(seconds=9894)

In [250]:
delta_2 = timedelta(
    days=0,
    seconds=lst_2[1][2],
    microseconds=0,
    milliseconds=0,
    minutes=lst_2[1][1],
    hours=lst_2[1][0],
    weeks=0
)

In [251]:
delta_2

datetime.timedelta(seconds=6960)

In [252]:
res = abs(delta_1 - delta_2)

In [257]:
print(str(res).zfill(8))

00:48:54

# Задача

In [ ]:
Оценка количества времени, необходимого для выполнения задач - рассчитывает её автоматически.

У вас есть время выполнения задачи в формате MM:SS и ее сложность по трехбальной шкале (от 1 до 3).
    
Был придуман следующий алгоритм:

1. Получаем на вход уровень сложности задачи.
2. Считаем медианное время для этой сложности, опираясь на предыдущие выполненные задачи.
3. Выводим медианное время выполнения задачи и умножаем его на 2, чтобы точно успеть ее выполнить.

Вашей программе на вход поступает неотрицательное число n, а затем n строк содержащих время
в формате MM:SS и уровень сложности через пробел. 
    
После этого программа принимает на вход сложность новой задачи.

В качестве ответа выведите время выполнения новой задачи в формате HH:MM:SS. 
Когда получите итоговое количество секунд обязательно отбросьте от них остаток с помощью int.

В случае если время определить невозможно выведите Мало данных.


Sample Input 1:
5
22:23 2
55:33 3
15:45 1
07:32 1
45:00 3
1


Sample Output 1:
00:23:16

In [1]:
s = '22:23 2'

In [4]:
ss = s.split()
ss

['22:23', '2']

In [5]:
fmt = '%M:%S'

In [8]:
# from datetime import time
import time

In [11]:
sss = time.strptime(ss[0], fmt)
sss

time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=22, tm_sec=23, tm_wday=0, tm_yday=1, tm_isdst=-1)

In [15]:
total_s = sss.tm_min*60 + sss.tm_sec
total_s

1343

In [16]:
d = {}

In [17]:
d[ss[1]] = total_s

In [18]:
d

{'2': 1343}

In [ ]:
8
22:23 2
55:33 3
15:45 1
07:32 1
45:00 3
55:34 3
59:40 3
58:56 3
3

In [81]:

d = {}

n = int(input())

for i in range(n):
    s = input()
    ss = s.split()
    
    fmt = '%M:%S'
    
    sss = time.strptime(ss[0], fmt)
    
    total_s = sss.tm_min*60 + sss.tm_sec
    
    if ss[1] not in d:
        d[ss[1]] = [total_s]
    else:
        d[ss[1]] += [total_s]
        
d

8
22:23 2
55:33 3
15:45 1
07:32 1
45:00 3
55:34 3
59:40 3
58:56 3

{'2': [1343], '3': [3333, 2700, 3334, 3580, 3536], '1': [945, 452]}

In [28]:
import numpy as np

In [84]:
mediana_total = int(np.median(d['3']))*2
mediana_total

6668

In [87]:
mediana_hour = mediana_total//3600
mediana_hour

1

In [89]:
mediana_min = (mediana_total%3600)//60
mediana_min

51

In [90]:
mediana_sec = (mediana_total%3600)%60
mediana_sec

8

In [73]:
import time

In [96]:
from datetime import time as dtime
t = dtime(hour = mediana_hour, minute = mediana_min, second=mediana_sec)

In [101]:
fmt_2 = '%H:%M:%S'

In [102]:
dtime.strftime(t, fmt_2)

'01:51:08'

In [72]:
t

datetime.time(0, 23, 16)

In [ ]:
# окончательное решение на основе того, что проделано выше по действиям:

In [80]:
import time as time
from datetime import time as dtime
import numpy as np

d = {}

n = int(input())

for i in range(n):
    s = input()
    ss = s.split()
    
    fmt = '%M:%S'
    
    sss = time.strptime(ss[0], fmt)
    
    total_s = sss.tm_min*60 + sss.tm_sec
    
    if ss[1] not in d:
        d[ss[1]] = [total_s]
    else:
        d[ss[1]] += [total_s]
        
level = input()

if level not in d:
    print('Мало данных')
else:

    mediana_total = int(np.median(d[level]))*2
    mediana_hour = mediana_total//3600
    mediana_min = (mediana_total%3600)//60
    mediana_sec = (mediana_total%3600)%60
    

    t = dtime(hour = mediana_hour, minute = mediana_min, second=mediana_sec)
    fmt_2 = '%H:%M:%S'
    res = dtime.strftime(t, fmt_2)

    print(res)

4
55:33 3
15:45 1
07:32 1
45:00 3
2
Мало данных

In [ ]:
4
55:33 3
15:45 1
07:32 1
45:00 3
2

In [107]:
import time

now = time.time()

In [108]:
print(time.ctime(now))

Sat Oct  7 09:36:10 2023