# Что такое временная зона?

In [1]:
from time import time, ctime

t = time()
print(ctime(t))

Mon Oct  9 13:53:16 2023

In [ ]:
Временная зона или часовой пояс – участок земной поверхности, где 
законом установлено определенное время. Это время устанавливается относительно 
всемирного координированного времени (Universal Time Coordinated) – UTC. 
Обозначается часовой пояс города или страны так: UTC±hh:mm, где hh обозначает 
количество часов, а mm количество минут относительно шкалы UTC.

Примеры часовых поясов:

UTC+3   	   Москва
UTC+1   	   Лондон
UTC-4   	   Нью-Йорк

География на это время влияет, но большее влияние все-таки в современном мире 
оказывают законы. Именно поэтому часовых поясов может быть больше 24-х.

# datetime.timezone

In [ ]:
Класс datetime.timezone  - это подкласс datetime.tzinfo. 

Он реализует временную зону фиксированного смещения от таймзоны UTC.

In [2]:
# Работать с этим классом очень удобно в случае, если в вашем проекте фиксированная временная зона. 
# Например, временная зона для московского времени выставляется так:

from datetime import timedelta, time, timezone

tz = timezone(offset=timedelta(hours=3), name='MSK')

t = time(hour=13, minute=0, tzinfo=tz)

print(t)  # 13:00:00+03:00

13:00:00+03:00

In [1]:
# В чем преимущество использования временных зон для проекта? Время становится 
# определенным и код становится яснее для понимания. Как мы говорили ранее – 
# по времени без временной зоны и даты невозможно определить точный момент во 
# времени, когда произошло событие.

# Это означает, что для класса datetime.time в целом бессмысленно использовать 
# временные зоны, хоть это и дает немного дополнительной информации для разработчика.

# С другой стороны, пример ниже может показаться вам полезным для работы, 
# однако на практике такое сравнение никогда не проводится, так как 
# разработчики всегда учитывают даты при сравнении.

from datetime import timedelta, time, timezone
# offset=timedelta(hours=3)
tz = timezone(offset=timedelta(hours=3), name='MSK')


t = time(hour=13, minute=0, tzinfo=tz)
t2 = time(hour=11, minute=0, tzinfo=timezone.utc)

print(t < t2) # True

True

In [16]:
print(offset)

3:00:00

In [ ]:
Другое дело класс datetime.datetime. 
Запомните – любой создаваемый в проекте класс datetime.datetime обязательно должен быть с временной зоной!

In [ ]:
Если вы не будете следовать этому простому правилу, то скорее всего в вашем 
проекте появятся очень неочевидные баги, связанные с тем, что наивное время 
на самом деле создается из разных временных зон. А если это еще и попало в 
базу данных, то будьте готовы потратить уйму времени на то, 
чтобы все это исправить (и не факт, что получится).

Примеры работы с datetime.datetime:

In [506]:
from datetime import timezone, timedelta, datetime

tz = timezone(offset=timedelta(hours=3), name='MSK')

d1 = datetime(year=2023, month=10, day=11, hour=10, tzinfo=tz)
d2 = datetime(year=2023, month=10, day=11, hour=9, minute=35, tzinfo=tz)

print(d1 < d2)  # False
print(d1 - d2)  # 0:25:00

# перевести в другую временную зону
d3 = d1.astimezone(timezone.utc)
print(d3)  # 2023-10-11 07:00:00+00:0

False
0:25:00
2023-10-11 07:00:00+00:00

In [46]:
d1.tzinfo.utcoffset(d1).total_seconds()

10800.0

# Задача

In [ ]:
Цифровой кочевник каждый месяц меняет свое местоположение и, соотвественно,
часовой пояс. Дейлики у него проходят каждый день в 13:00+03:00. На вход 
вашей программе дается часовой пояс в формате UTC. 
        
Выведите для этого часового пояса время дейлика.

Sample Input 1:
UTC-03:00
    
Sample Output 1:
07:00

In [556]:
input_tz = input()

UTC+04:35

In [557]:
shift_hour = int(input_tz[3:6])
shift_hour

4

In [558]:
shift_minute = int(input_tz[-2:])
shift_minute

35

In [563]:
from datetime import timezone, timedelta, datetime

tz = timezone(offset=timedelta(hours=3), name='MSK')
new_tz = timezone(offset=timedelta(hours=shift_hour, minutes = shift_minute), name='NEW')


d1 = datetime(year=2023, month=10, day=11, hour=13, tzinfo=tz)
d2 = datetime(year=2023, month=10, day=11, hour=13, tzinfo=new_tz)

print(d1)
print(d2)

print(type(d2 - d1))
print(d1.time)
d3 = d1 - (d2 - d1)

# timedelta(hours = d2 - d1)

2023-10-11 13:00:00+03:00
2023-10-11 13:00:00+04:35
<class 'datetime.timedelta'>
<built-in method time of datetime.datetime object at 0x000001B59E2A2E20>

In [564]:
print(d1.time())

13:00:00

In [575]:
fmt = "%H:%M"

print(time.strftime(d3.time(), fmt))

14:35

In [581]:
t_start = time(hour = 13, minute = 30)
t_start

datetime.time(13, 30)

In [582]:
t_end_1 = time(hour = 15, minute = 17)
t_end_1

datetime.time(15, 17)

In [587]:
d1 = datetime(year=2023, month=10, day=11, hour=13, minute = 30, tzinfo=tz)

In [591]:
d2 = datetime(year=2023, month=10, day=11, hour=15, minute = 21, tzinfo=tz)

In [592]:
print(d2-d1)

1:51:00

In [594]:
from time import time, ctime
print(ctime(time()))

Tue Oct 10 15:37:28 2023

# Задача

In [ ]:
Ваш проект работает во временной зоне UTC+03:30, определите для входного времени текущую дату.

На вход программе подается дата и время в формате ISO 8601. Нужно определить текущую дату для временной зоны проекта.

В качестве ответа выведите дату в формате ISO 8601.


Sample Input:
2020-01-01T23:31:00+03:00
            
Sample Output:
2020-01-02

In [596]:
s = input()
ss = datetime.fromisoformat(s)

2020-01-01T23:31:00+03:00

In [615]:
ss

datetime.datetime(2020, 1, 1, 23, 31, tzinfo=datetime.timezone(datetime.timedelta(seconds=10800)))

In [619]:
new_tz = timezone(offset=timedelta(hours=3, minutes = 30), name='NEW')

In [620]:
sss = ss.astimezone(new_tz)

In [624]:
print(sss.date())

2020-01-02

# zoneinfo

# Задача

In [ ]:
На вход программе поступает время с таймзоной в формате UTC. 
Нужно определить и вывести таймзоны IANA, которые эквивалентны заданной таймзоне.

Sample Input:

06:00+03:00
        
        
Sample Output:

Africa/Addis_Ababa Africa/Asmara Africa/Asmera Africa/Dar_es_Salaam Africa/
Djibouti Africa/Kampala Africa/Mogadishu Africa/Nairobi Antarctica/Syowa 
Asia/Aden Asia/Baghdad Asia/Bahrain Asia/Kuwait Asia/Qatar Asia/Riyadh 
Etc/GMT-3 Europe/Astrakhan Europe/Kirov Europe/Moscow Europe/Saratov 
Europe/Ulyanovsk Europe/Volgograd Indian/Antananarivo Indian/Comoro 
Indian/Mayotte W-SU

In [650]:
s = ((input().split('+')))

06:00+03:00

In [657]:
s

['06:00', '03:00']

In [662]:
'+'+s[1]

'+03:00'

In [627]:
# Скачиваем выгрузку с сайта https://www.timeapi.io/documentation/iana-timezones
# в формате html

import pandas as pd

In [628]:
_lst = pd.read_html('TimeAPI _ IANA Timezones.html')

In [636]:
_lst[0]

,IANA Time Zone,UTC offset (STD),UTC offset (DST),Abbreviation (STD),Abbreviation (DST)
0,Africa/Abidjan,+00:00,NaN,GMT,NaN
1,Africa/Accra,+00:00,NaN,GMT,NaN
2,Africa/Addis_Ababa,+03:00,NaN,EAT,NaN
3,Africa/Algiers,+01:00,NaN,CET,NaN
4,Africa/Asmara,+03:00,NaN,EAT,NaN
...,...,...,...,...,...
590,US/Samoa,-11:00,NaN,SST,NaN
591,UTC,+00:00,NaN,UTC,NaN
592,W-SU,+03:00,NaN,MSK,NaN
593,WET,+00:00,+01:00,WET,WEST
594,Zulu,+00:00,NaN,UTC,NaN

In [670]:
print(*sorted(list(_lst[0]['IANA Time Zone'][_lst[0]['UTC offset (STD)'] == '+'+s[1]])))

Africa/Addis_Ababa Africa/Asmara Africa/Asmera Africa/Dar_es_Salaam Africa/Djibouti Africa/Kampala Africa/Mogadishu Africa/Nairobi Antarctica/Syowa Asia/Aden Asia/Amman Asia/Baghdad Asia/Bahrain Asia/Damascus Asia/Istanbul Asia/Kuwait Asia/Qatar Asia/Riyadh Etc/GMT-3 Europe/Istanbul Europe/Kirov Europe/Minsk Europe/Moscow Europe/Simferopol Europe/Volgograd Indian/Antananarivo Indian/Comoro Indian/Mayotte Turkey W-SU

In [674]:
_lst = pd.read_html('https://www.timeapi.io/documentation/iana-timezones')

In [675]:
_lst[0]

,IANA Time Zone,UTC offset (STD),UTC offset (DST),Abbreviation (STD),Abbreviation (DST)
0,Africa/Abidjan,+00:00,NaN,GMT,NaN
1,Africa/Accra,+00:00,NaN,GMT,NaN
2,Africa/Addis_Ababa,+03:00,NaN,EAT,NaN
3,Africa/Algiers,+01:00,NaN,CET,NaN
4,Africa/Asmara,+03:00,NaN,EAT,NaN
...,...,...,...,...,...
590,US/Samoa,-11:00,NaN,SST,NaN
591,UTC,+00:00,NaN,UTC,NaN
592,W-SU,+03:00,NaN,MSK,NaN
593,WET,+00:00,+01:00,WET,WEST
594,Zulu,+00:00,NaN,UTC,NaN

In [678]:
lst_offset = list(_lst[0]['UTC offset (STD)'])

In [717]:
lst_abbr = list(_lst[0]['Abbreviation (STD)'])

In [681]:
print(lst_offset)

['+00:00', '+00:00', '+03:00', '+01:00', '+03:00', '+03:00', '+00:00', '+01:00', '+00:00', '+00:00', '+02:00', '+01:00', '+02:00', '+02:00', '+01:00', '+01:00', '+00:00', '+00:00', '+03:00', '+03:00', '+01:00', '+01:00', '+00:00', '+02:00', '+02:00', '+02:00', '+02:00', '+03:00', '+02:00', '+02:00', '+01:00', '+01:00', '+01:00', '+00:00', '+01:00', '+02:00', '+02:00', '+01:00', '+02:00', '+02:00', '+02:00', '+03:00', '+00:00', '+03:00', '+01:00', '+01:00', '+00:00', '+00:00', '+01:00', '+00:00', '+00:00', '+02:00', '+01:00', '+02:00', '-10:00', '-09:00', '-04:00', '-04:00', '-03:00', '-03:00', '-03:00', '-03:00', '-03:00', '-03:00', '-03:00', '-03:00', '-03:00', '-03:00', '-03:00', '-03:00', '-03:00', '-03:00', '-04:00', '-04:00', '-05:00', '-10:00', '-03:00', '-06:00', '-04:00', '-03:00', '-06:00', '-04:00', '-04:00', '-05:00', '-07:00', '-03:00', '-07:00', '-04:00', '-05:00', '-04:00', '-03:00', '-03:00', '-05:00', '-06:00', '-06:00', '-05:00', '-03:00', '-06:00', '-07:00', '-04:00', '-04:00', '+00:00', '-07:00', '-07:00', '-07:00', '-05:00', '-04:00', '-07:00', '-05:00', '-06:00', '-08:00', '-07:00', '-05:00', '-03:00', '-04:00', '-03:00', '-04:00', '-05:00', '-04:00', '-04:00', '-06:00', '-05:00', '-04:00', '-04:00', '-05:00', '-07:00', '-05:00', '-06:00', '-05:00', '-05:00', '-06:00', '-05:00', '-05:00', '-05:00', '-05:00', '-07:00', '-05:00', '-05:00', '-03:00', '-09:00', '-05:00', '-05:00', '-06:00', '-04:00', '-04:00', '-05:00', '-08:00', '-05:00', '-04:00', '-03:00', '-06:00', '-04:00', '-04:00', '-04:00', '-06:00', '-07:00', '-03:00', '-06:00', '-06:00', '-09:00', '-06:00', '-03:00', '-04:00', '-06:00', '-03:00', '-05:00', '-04:00', '-05:00', '-05:00', '-05:00', '-09:00', '-02:00', '-06:00', '-06:00', '-06:00', '-03:00', '-06:00', '-05:00', '-05:00', '-03:00', '-07:00', '-04:00', '-05:00', '-05:00', '-04:00', '-04:00', '-03:00', '-06:00', '-06:00', '-03:00', '-06:00', '-06:00', '-05:00', '-03:00', '-08:00', '-03:00', '-04:00', '-04:00', '-03:00', '-01:00', '-07:00', '-09:00', '-04:00', '-03:30', '-04:00', '-04:00', '-04:00', '-04:00', '-06:00', '-06:00', '-04:00', '-05:00', '-08:00', '-05:00', '-04:00', '-08:00', '-04:00', '-07:00', '-06:00', '-09:00', '-07:00', '+11:00', '+07:00', '+10:00', '+10:00', '+05:00', '+12:00', '-03:00', '-03:00', '+12:00', '+03:00', '+00:00', '+06:00', '+01:00', '+03:00', '+06:00', '+03:00', '+12:00', '+05:00', '+05:00', '+05:00', '+05:00', '+05:00', '+03:00', '+03:00', '+04:00', '+07:00', '+07:00', '+02:00', '+06:00', '+08:00', '+05:30', '+09:00', '+08:00', '+08:00', '+08:00', '+05:30', '+06:00', '+03:00', '+06:00', '+09:00', '+04:00', '+05:00', '+02:00', '+02:00', '+08:00', '+02:00', '+07:00', '+08:00', '+07:00', '+08:00', '+03:00', '+07:00', '+09:00', '+02:00', '+04:30', '+12:00', '+05:00', '+06:00', '+05:45', '+05:45', '+09:00', '+05:30', '+07:00', '+08:00', '+08:00', '+03:00', '+08:00', '+08:00', '+11:00', '+08:00', '+08:00', '+04:00', '+02:00', '+07:00', '+07:00', '+06:00', '+05:00', '+07:00', '+07:00', '+09:00', '+03:00', '+06:00', '+05:00', '+06:30', '+03:00', '+07:00', '+11:00', '+05:00', '+09:00', '+08:00', '+08:00', '+11:00', '+08:00', '+05:00', '+04:00', '+03:30', '+02:00', '+06:00', '+06:00', '+09:00', '+07:00', '+08:00', '+08:00', '+08:00', '+06:00', '+10:00', '+07:00', '+10:00', '+09:00', '+06:30', '+05:00', '+04:00', '-01:00', '-04:00', '+00:00', '-01:00', '+00:00', '+00:00', '+01:00', '+00:00', '+00:00', '-02:00', '+00:00', '-03:00', '+10:00', '+09:30', '+10:00', '+09:30', '+10:00', '+10:00', '+09:30', '+08:45', '+10:00', '+10:30', '+10:00', '+10:30', '+10:00', '+09:30', '+10:00', '+08:00', '+10:00', '+09:30', '+10:00', '+10:00', '+10:00', '+08:00', '+09:30', '-05:00', '-02:00', '-03:00', '-04:00', '-04:00', '-06:00', '-05:00', '-07:00', '-03:30', '-08:00', '-06:00', '-07:00', '+01:00', '-04:00', '-06:00', '-06:00', '-05:00', '+02:00', '+02:00', '+01:00', '-05:00', '-05:00', '+00:00', '+00:00', '+01:00', '+10:00', '+11:00', '+12:00', '+13:00', '+14:00', '+02:00', '+03:00', '+04:00', '+05:00', '+06:00', '+07:00', '+08:00', '+09:00', '+00:00', '-01:00', '-10:00', '-11:00', '-12:00', '-02:00', '-03:00', '-04:00', '-05:00', '-06:00', '-07:00', '-08:00', '-09:00', '+00:00', '+00:00', '+00:00', '+00:00', '+00:00', '+00:00', '+01:00', '+01:00', '+04:00', '+02:00', '+00:00', '+01:00', '+01:00', '+01:00', '+01:00', '+02:00', '+01:00', '+01:00', '+02:00', '+01:00', '+01:00', '+01:00', '+00:00', '+02:00', '+00:00', '+03:00', '+00:00', '+02:00', '+02:00', '+03:00', '+02:00', '+00:00', '+01:00', '+00:00', '+01:00', '+01:00', '+01:00', '+02:00', '+03:00', '+01:00', '+03:00', '+02:00', '+01:00', '+01:00', '+01:00', '+01:00', '+02:00', '+01:00', '+04:00', '+01:00', '+01:00', '+04:00', '+03:00', '+01:00', '+02:00', '+01:00', '+02:00', '+01:00', '+02:00', '+04:00', '+02:00', '+01:00', '+01:00', '+01:00', '+02:00', '+03:00', '+01:00', '+01:00', '+02:00', '+01:00', '+00:00', '+00:00', '+00:00', '+00:00', '+00:00', '+00:00', '+00:00', '+08:00', '-10:00', '+00:00', '+03:00', '+06:00', '+07:00', '+06:30', '+03:00', '+05:00', '+04:00', '+05:00', '+04:00', '+03:00', '+04:00', '+03:30', '+02:00', '-05:00', '+09:00', '+12:00', '+02:00', '+01:00', '-08:00', '-07:00', '-06:00', '-07:00', '-07:00', '-07:00', '+12:00', '+12:45', '+13:00', '+12:00', '+11:00', '+12:45', '+10:00', '-06:00', '+11:00', '+13:00', '+13:00', '+12:00', '+12:00', '-06:00', '-09:00', '+11:00', '+10:00', '-10:00', '-10:00', '+13:00', '+14:00', '+11:00', '+12:00', '+12:00', '-09:30', '-11:00', '+12:00', '-11:00', '+11:00', '+11:00', '-11:00', '+09:00', '-08:00', '+11:00', '+11:00', '+10:00', '-10:00', '+10:00', '-11:00', '-10:00', '+12:00', '+13:00', '+10:00', '+12:00', '+12:00', '+10:00', '+01:00', '+00:00', '+08:00', '-08:00', '+08:00', '+09:00', '+08:00', '+03:00', '+00:00', '+00:00', '-09:00', '-10:00', '-07:00', '-06:00', '-05:00', '-05:00', '-10:00', '-06:00', '-05:00', '-07:00', '-08:00', '-11:00', '+00:00', '+03:00', '+00:00', '+00:00']

In [683]:
lst_zone = list(_lst[0]['IANA Time Zone'])

In [684]:
print(lst_zone)

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port_of_Spain', 'America/Port-au-Prince', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/North', 'Australia/NSW', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'CET', 'Chile/Continental', 'Chile/EasterIsland', 'CST6CDT', 'Cuba', 'EET', 'Egypt', 'Eire', 'EST', 'EST5EDT', 'Etc/GMT', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/Universal', 'Etc/UTC', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Kyiv', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT-0', 'GMT+0', 'GMT0', 'Greenwich', 'Hongkong', 'HST', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'MST', 'MST7MDT', 'Navajo', 'NZ', 'NZ-CHAT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kanton', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'PRC', 'PST8PDT', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'Universal', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'W-SU', 'WET', 'Zulu']

In [719]:
print(lst_abbr)

['GMT', 'GMT', 'EAT', 'CET', 'EAT', 'EAT', 'GMT', 'WAT', 'GMT', 'GMT', 'CAT', 'WAT', 'CAT', 'EET', '+01', 'CET', 'GMT', 'GMT', 'EAT', 'EAT', 'WAT', '+01', 'GMT', 'CAT', 'CAT', 'SAST', 'CAT', 'EAT', 'CAT', 'CAT', 'WAT', 'WAT', 'WAT', 'GMT', 'WAT', 'CAT', 'CAT', 'WAT', 'CAT', 'SAST', 'SAST', 'EAT', 'GMT', 'EAT', 'WAT', 'WAT', 'GMT', 'GMT', 'WAT', 'GMT', 'GMT', 'EET', 'CET', 'CAT', 'HST', 'AKST', 'AST', 'AST', '-03', '-03', '-03', '-03', '-03', '-03', '-03', '-03', '-03', '-03', '-03', '-03', '-03', '-03', 'AST', '-04', 'EST', 'HST', '-03', 'CST', 'AST', '-03', 'CST', 'AST', '-04', '-05', 'MST', '-03', 'MST', '-04', 'EST', '-04', '-03', '-03', 'EST', 'CST', 'CST', 'EST', '-03', 'CST', 'MST', '-04', 'AST', 'GMT', 'MST', 'MST', 'MST', 'EST', 'AST', 'MST', '-05', 'CST', 'PST', 'MST', 'EST', '-03', 'AST', '-03', 'AST', 'EST', 'AST', 'AST', 'CST', '-05', '-04', 'AST', 'CST', 'MST', 'EST', 'CST', 'EST', 'EST', 'CST', 'EST', 'EST', 'EST', 'EST', 'MST', 'EST', 'EST', '-03', 'AKST', 'EST', 'EST', 'CST', 'AST', '-04', '-05', 'PST', 'EST', 'AST', '-03', 'CST', '-04', 'AST', 'AST', 'CST', 'MST', '-03', 'CST', 'CST', 'AKST', 'CST', '-03', 'AST', 'CST', '-03', 'EST', 'AST', 'EST', 'EST', 'EST', 'AKST', '-02', 'CST', 'CST', 'CST', '-03', 'CST', 'EST', 'EST', '-03', 'MST', 'AST', 'EST', '-05', '-04', 'AST', '-03', 'CST', 'CST', '-03', 'CST', 'CST', '-05', '-03', 'PST', '-03', '-04', 'AST', '-03', '-01', 'MST', 'AKST', 'AST', 'NST', 'AST', 'AST', 'AST', 'AST', 'CST', 'CST', 'AST', 'EST', 'PST', 'EST', 'AST', 'PST', 'AST', 'MST', 'CST', 'AKST', 'MST', '+11', '+07', '+10', 'AEST', '+05', 'NZST', '-03', '-03', 'NZST', '+03', '+00', '+06', 'CET', '+03', '+06', '+03', '+12', '+05', '+05', '+05', '+05', '+05', '+03', '+03', '+04', '+07', '+07', 'EET', '+06', '+08', 'IST', '+09', '+08', 'CST', 'CST', '+0530', '+06', '+03', '+06', '+09', '+04', '+05', 'EET', 'EET', 'CST', 'EET', '+07', 'HKT', '+07', '+08', '+03', 'WIB', 'WIT', 'IST', '+0430', '+12', 'PKT', '+06', '+0545', '+0545', '+09', 'IST', '+07', '+08', '+08', '+03', 'CST', 'CST', '+11', 'WITA', 'PST', '+04', 'EET', '+07', '+07', '+06', '+05', '+07', 'WIB', 'KST', '+03', '+06', '+05', '+0630', '+03', '+07', '+11', '+05', 'KST', 'CST', '+08', '+11', 'CST', '+05', '+04', '+0330', 'IST', '+06', '+06', 'JST', '+07', 'WITA', '+08', '+08', '+06', '+10', '+07', '+10', '+09', '+0630', '+05', '+04', '-01', 'AST', 'WET', '-01', 'WET', 'WET', 'CET', 'WET', 'GMT', '-02', 'GMT', '-03', 'AEST', 'ACST', 'AEST', 'ACST', 'AEST', 'AEST', 'ACST', '+0845', 'AEST', '+1030', 'AEST', '+1030', 'AEST', 'ACST', 'AEST', 'AWST', 'AEST', 'ACST', 'AEST', 'AEST', 'AEST', 'AWST', 'ACST', '-05', '-02', '-03', '-04', 'AST', 'CST', 'EST', 'MST', 'NST', 'PST', 'CST', 'MST', 'CET', '-04', '-06', 'CST', 'CST', 'EET', 'EET', 'IST', 'EST', 'EST', 'GMT', 'GMT', '+01', '+10', '+11', '+12', '+13', '+14', '+02', '+03', '+04', '+05', '+06', '+07', '+08', '+09', 'GMT', '-01', '-10', '-11', '-12', '-02', '-03', '-04', '-05', '-06', '-07', '-08', '-09', 'GMT', 'GMT', 'UTC', 'UTC', 'UTC', 'UTC', 'CET', 'CET', '+04', 'EET', 'GMT', 'CET', 'CET', 'CET', 'CET', 'EET', 'CET', 'CET', 'EET', 'CET', 'IST', 'CET', 'GMT', 'EET', 'GMT', '+03', 'GMT', 'EET', 'EET', '+03', 'EET', 'WET', 'CET', 'GMT', 'CET', 'CET', 'CET', 'EET', '+03', 'CET', 'MSK', 'EET', 'CET', 'CET', 'CET', 'CET', 'EET', 'CET', '+04', 'CET', 'CET', '+04', 'MSK', 'CET', 'EET', 'CET', 'EET', 'CET', 'EET', '+04', 'EET', 'CET', 'CET', 'CET', 'EET', '+03', 'CET', 'CET', 'EET', 'CET', 'GMT', 'GMT', 'GMT', 'GMT', 'GMT', 'GMT', 'GMT', 'HKT', 'HST', 'GMT', 'EAT', '+06', '+07', '+0630', 'EAT', '+05', '+04', '+05', '+04', 'EAT', '+04', '+0330', 'IST', 'EST', 'JST', '+12', 'EET', 'MET', 'PST', 'MST', 'CST', 'MST', 'MST', 'MST', 'NZST', '+1245', '+13', 'NZST', '+11', '+1245', '+10', '-06', '+11', '+13', '+13', '+12', '+12', '-06', '-09', '+11', 'ChST', 'HST', 'HST', '+13', '+14', '+11', '+12', '+12', '-0930', 'SST', '+12', '-11', '+11', '+11', 'SST', '+09', '-08', '+11', '+11', '+10', '-10', 'ChST', 'SST', '-10', '+12', '+13', '+10', '+12', '+12', '+10', 'CET', 'WET', 'CST', 'PST', 'CST', 'KST', '+08', '+03', 'UTC', 'UTC', 'AKST', 'HST', 'MST', 'CST', 'EST', 'EST', 'HST', 'CST', 'EST', 'MST', 'PST', 'SST', 'UTC', 'MSK', 'WET', 'UTC']

In [722]:
df = pd.DataFrame(lst_offset)

In [723]:
df['zone'] = lst_zone

In [724]:
df['abbr'] = lst_abbr

In [726]:
df.columns = ['offset', 'zone', 'abbr']

In [727]:
df

     offset                zone abbr
0    +00:00      Africa/Abidjan  GMT
1    +00:00        Africa/Accra  GMT
2    +03:00  Africa/Addis_Ababa  EAT
3    +01:00      Africa/Algiers  CET
4    +03:00       Africa/Asmara  EAT
..      ...                 ...  ...
590  -11:00            US/Samoa  SST
591  +00:00                 UTC  UTC
592  +03:00                W-SU  MSK
593  +00:00                 WET  WET
594  +00:00                Zulu  UTC

[595 rows x 3 columns]

In [728]:
df = df[df['abbr'] == 'UTC']

In [730]:
df

     offset           zone abbr
421  +00:00        Etc/UCT  UTC
422  +00:00  Etc/Universal  UTC
423  +00:00        Etc/UTC  UTC
424  +00:00       Etc/Zulu  UTC
577  +00:00            UCT  UTC
578  +00:00      Universal  UTC
591  +00:00            UTC  UTC
594  +00:00           Zulu  UTC

In [729]:
print(*sorted(list(df['zone'][df['offset'] == '+'+s[1]])))

In [705]:
from datetime import datetime
from zoneinfo import ZoneInfo

# moskow_tz = ZoneInfo("Europe/Moscow")
# london_tz = ZoneInfo("Europe/London")

# t1 = datetime(2023,4,1,12,30,0, tzinfo=moskow_tz)  # 2023-04-01 12:30:00+03:00
# t2 = datetime(2023,4,1,12,30,0, tzinfo=london_tz)

In [715]:
df = df[df['offset'] == '+03:00']

In [716]:
df

     offset                  zone
2    +03:00    Africa/Addis_Ababa
4    +03:00         Africa/Asmara
5    +03:00         Africa/Asmera
18   +03:00  Africa/Dar_es_Salaam
19   +03:00       Africa/Djibouti
27   +03:00        Africa/Kampala
41   +03:00      Africa/Mogadishu
43   +03:00        Africa/Nairobi
230  +03:00      Antarctica/Syowa
234  +03:00             Asia/Aden
236  +03:00            Asia/Amman
243  +03:00          Asia/Baghdad
244  +03:00          Asia/Bahrain
258  +03:00         Asia/Damascus
271  +03:00         Asia/Istanbul
286  +03:00           Asia/Kuwait
301  +03:00            Asia/Qatar
305  +03:00           Asia/Riyadh
399  +03:00             Etc/GMT-3
444  +03:00       Europe/Istanbul
448  +03:00          Europe/Kirov
457  +03:00          Europe/Minsk
459  +03:00         Europe/Moscow
471  +03:00     Europe/Simferopol
484  +03:00      Europe/Volgograd
499  +03:00   Indian/Antananarivo
503  +03:00         Indian/Comoro
508  +03:00        Indian/Mayotte
576  +03:00                Turkey
592  +03:00                  W-SU