# 1

In [1]:
Вам на вход поступает две даты в формате ISO 8601. 
Поменяйте в них местами годы если это возможно. Например на вход дано 2 даты:

2023-01-01
2020-12-12
В качестве ответа программа должна вернуть:

2020-01-01
2023-12-12
В случае если это сделать невозможно выведите:

Год изменить невозможно


Sample Input 2:

2020-02-29
2021-12-12
Sample Output 2:

Год изменить невозможно

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (196184533.py, line 4)

In [1]:
from datetime import datetime

In [25]:
n = input()
m = input()

2020-02-29
2021-12-12

In [26]:
y1 = datetime.fromisoformat(n).year
m1 = datetime.fromisoformat(n).month
d1 = datetime.fromisoformat(n).day

In [27]:
y2 = datetime.fromisoformat(m).year
m2 = datetime.fromisoformat(m).month
d2 = datetime.fromisoformat(m).day

In [29]:
try:
    new_n = datetime(y2, m1, d1, 0, 0)
except ValueError:
    print('Год изменить невозможно')
    k = 1

Год изменить невозможно

In [30]:
try:
    new_m = datetime(y1, m2, d2, 0, 0)
except ValueError:
    print('Год изменить невозможно')
    k = 1

In [31]:
new_m

datetime.datetime(2020, 12, 12, 0, 0)

# 2

In [ ]:
Вашей программе на вход идут два числа – первый и второй год. Посчитайте количество високосных годов между ними включительно.

Sample Input 1:

2020
2028
Sample Output 1:

3

In [5]:
n = int(input())
m = int(input())

2020
2028

In [2]:
from datetime import datetime

In [8]:
n_1 = datetime(n, 1, 1)
n_1

datetime.datetime(2020, 1, 1, 0, 0)

In [9]:
m_1 = datetime(m, 1, 1)
m_1

datetime.datetime(2028, 1, 1, 0, 0)

In [19]:
import calendar

In [21]:
calendar.isleap(n)

True

In [42]:
from datetime import datetime, timedelta
import calendar

c = 0
for i in range (m-n+1):    
    if calendar.isleap(n + i):
        c += 1
print(c)

3

# 3

In [ ]:
Вам дано 2 даты: start_date и end_date, где start_date <= end_date. 
Посчитайте, сколько между этими датами дней (включая даты), 
причём если end_date переходит на следующий месяц или ещё дальше – посчитайте,
сколько дней между start_date и последним днём её месяца.

In [ ]:
Ввод:

start_date – начальная дата

end_date – конечная дата

Вывод:

Количество дней между датами, ограниченное максимальным количеством дней в месяце.

Sample Input 1:

2022-08-01
2022-08-14
Sample Output 1:

14

In [43]:
n = '2022-08-01'
m = '2022-08-14'

In [73]:
from datetime import datetime, timedelta
import calendar

n = input()
m = input()

if datetime.fromisoformat(m).month == datetime.fromisoformat(n).month:
    x = datetime.fromisoformat(m) - datetime.fromisoformat(n) + timedelta(days = 1)
    print(x.days)
    
else:
    dat = datetime.fromisoformat(m)
    last_day = calendar.monthrange(dat.year, dat.month)[1] 
    x = datetime(dat.year, dat.month, last_day) - datetime.fromisoformat() + timedelta(days = 1)
    print(x)

2022-08-01
2022-08-14
14

In [66]:
datetime.fromisoformat(m).year

2022

In [67]:
datetime.fromisoformat(m).month

8

In [69]:
calendar.monthrange(datetime.fromisoformat(m).year, datetime.fromisoformat(m).month)[1]

31

In [74]:
datetime(dat.year, dat.month, last_day)

NameError: name 'dat' is not defined

# 4

In [ ]:
Определите количество дней между двумя годами. Вам на вход поступает два числа – первый год и второй. 
Нужно определить количество дней между ними.

В качестве ответа выведите количество дней между годами.

Sample Input 1:

2024
2020
Sample Output 1:

1461

In [2]:
from datetime import datetime

In [3]:
n = 2024
m = 2020

In [5]:
dat_1 = datetime(m, 1, 1)

In [6]:
dat_2 = datetime(n, 1, 1)

In [9]:
delt = dat_2 - dat_1

In [11]:
print(delt.days)

1461

# 5

In [ ]:
На вход вашей программы подается две строки со временем в формате ISO 8601.
Посчитайте, сколько времени прошло между ними.
Время дается в разном порядке в рамках одного дня.

Sample Input 1:

12:00:00
15:00:00
Sample Output 1:

03:00:00

In [12]:
from datetime import time, timedelta

In [37]:
t_1 = time.fromisoformat('12:00:00')

In [38]:
t_2 = time.fromisoformat('15:00:00')

In [ ]:
t_1[]

In [40]:
t_1.hour

12

In [42]:
t_1.minute

0

In [44]:
t_1.second

0

In [47]:
tt_1 = timedelta(hours = t_1.hour, minutes = t_1.minute, seconds = t_1.second)

In [48]:
tt_2 = timedelta(hours = t_2.hour, minutes = t_2.minute, seconds = t_2.second)

In [51]:
ttd = abs(tt_1 - tt_2)

In [57]:
hours = ttd.seconds//3600

In [58]:
minutes = ttd.seconds%3600//60

In [59]:
seconds = minutes%60//60

In [61]:
print(time(hour=hours, minute= minutes, second= seconds))

03:00:00

In [ ]:
Sample Input 5:

23:03:03
23:59:02
Sample Output 5:

00:55:59

In [76]:
from datetime import time, timedelta

t_1 = input().split(':')
t_2 = input().split(':')

tt_1 = timedelta(hours = int(t_1[0]), minutes = int(t_1[1]), seconds = int(t_1[2]))
tt_2 = timedelta(hours = int(t_2[0]), minutes = int(t_2[1]), seconds = int(t_2[2]))

ttd = abs(tt_1 - tt_2)

hours = ttd.seconds//3600

minutes = ttd.seconds%3600//60

secs= (ttd.seconds%3600)%60//60

print(time(hour=hours, minute= minutes, second= secs))

23:03:03
23:59:02
00:55:00

In [77]:
t_1

['23', '03', '03']

In [78]:
ttd

datetime.timedelta(seconds=3359)

In [79]:
hours = ttd.seconds//3600
hours

0

In [80]:
minutes = ttd.seconds%3600//60
minutes

55

In [82]:
seconds = ttd.seconds%3600%60
seconds

59

# 6

In [ ]:
Определите, сколько прошло времени между двумя моментами во времени.

На вход программе идут две строки в формате ISO 8601, содержащие дату и время. 
Определите сколько между ними секунд.


Sample Input 1:

2020-02-20T12:00:00
2023-01-02T20:01:33
Sample Output 1:

90489693

In [83]:
from datetime import datetime

In [85]:
dt_1 = datetime.fromisoformat('2020-02-20T12:00:00')
dt_1

datetime.datetime(2020, 2, 20, 12, 0)

In [86]:
dt_2 = datetime.fromisoformat('2023-01-02T20:01:33')
dt_2

datetime.datetime(2023, 1, 2, 20, 1, 33)

In [98]:
delt = abs(dt_2 - dt_1)

In [103]:
print(int(delt.total_seconds()))

90489693

# 7

In [ ]:
На вход вашей программе поступают строка с датой, временем и часовым поясом 
в формате ISO 8601. Переведите время в часовой пояс UTC-03:46 и "Europe/Moscow" 
и выведите каждое время в новой строке.

Sample Input 1:

2022-01-01T03:44:56+04:40
Sample Output 1:

2021-12-31T19:18:56-03:46
2022-01-01T02:04:56+03:00

In [110]:
from datetime import datetime, timezone
from zoneinfo import ZoneInfo

In [257]:
n = '2022-04-05T23:33:56-03:46'

In [258]:
dat = datetime.fromisoformat('2022-04-05T23:33:56-03:46')

In [261]:
dat

datetime.datetime(2022, 4, 5, 23, 33, 56, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72840)))

In [240]:
dat.tzinfo

datetime.timezone(datetime.timedelta(days=-1, seconds=72840))

In [262]:
dat.tzinfo.utcoffset(dat).days

-1

In [241]:
dat.tzinfo.utcoffset(dat).seconds

72840

In [277]:
if timedelta(days = dat.tzinfo.utcoffset(dat).days, seconds = dat.tzinfo.utcoffset(dat).seconds) != timedelta(days=-1, seconds=72840):
    dat = dat - timedelta(days = dat.tzinfo.utcoffset(dat).days, seconds = dat.tzinfo.utcoffset(dat).seconds)
    dat = dat - timedelta(hours= 3, minutes= 46)
else:
    dat = dat - timedelta(days = dat.tzinfo.utcoffset(dat).days, seconds = dat.tzinfo.utcoffset(dat).seconds)

In [278]:
dat

datetime.datetime(2022, 4, 5, 3, 19, 56, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72840)))

In [263]:
timedelta(days = dat.tzinfo.utcoffset(dat).days, seconds = dat.tzinfo.utcoffset(dat).seconds)

datetime.timedelta(days=-1, seconds=72840)

In [264]:
timedelta(hours= 3, minutes= 46)

datetime.timedelta(seconds=13560)

In [268]:
dat = dat - timedelta(days = dat.tzinfo.utcoffset(dat).days, seconds = dat.tzinfo.utcoffset(dat).seconds)
dat

datetime.datetime(2022, 4, 5, 3, 19, 56, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72840)))

In [311]:
dat = dat - timedelta(hours= 3, minutes= 46)

In [312]:
dat

datetime.datetime(2022, 4, 5, 3, 19, 56, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72840)))

In [313]:
dat.year

2022

In [314]:
dat.month

4

In [315]:
dat.day

5

In [316]:
dat.hour

3

In [317]:
dat.minute

19

In [318]:
dat.second

56

In [319]:
tz = timezone(offset=timedelta(hours= -3, minutes=-46))

In [320]:
tz

datetime.timezone(datetime.timedelta(days=-1, seconds=72840))

In [321]:
t3 = datetime(dat.year, dat.month, dat.day, dat.hour, dat.minute, dat.second, tzinfo=tz)

In [322]:
print(t3)

2022-04-05 03:19:56-03:46

In [323]:
moskow_tz = ZoneInfo("Europe/Moscow")

In [324]:
moskow_tz

zoneinfo.ZoneInfo(key='Europe/Moscow')

In [359]:
dat = datetime.fromisoformat('2022-04-05T23:33:56-03:46')
dat

datetime.datetime(2022, 4, 5, 23, 33, 56, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72840)))

In [360]:
dat.tzinfo.utcoffset(dat).seconds

72840

In [361]:
dat = dat - timedelta(days = dat.tzinfo.utcoffset(dat).days, seconds = dat.tzinfo.utcoffset(dat).seconds)
dat

datetime.datetime(2022, 4, 6, 3, 19, 56, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72840)))

In [362]:
dat = dat + timedelta(hours= 3, minutes= 00)

In [363]:
dat

datetime.datetime(2022, 4, 6, 6, 19, 56, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72840)))

In [364]:
t2 = datetime(dat.year, dat.month, dat.day, dat.hour, dat.minute, dat.second, tzinfo=moskow_tz)

In [365]:
print(datetime.isoformat(t2))

2022-04-06T06:19:56+03:00