In [3]:
# Типы данных date и time. Часть 2

In [9]:
from datetime import date

# присваиваем самую раннюю дату урагана в переменную first_date
first_date = date(day = 17, month = 5, year = 2024)

# конвертируем дату в ISO и RU формат
iso = 'Дата первого урагана в ISO формате: ' + str(first_date)
ru = 'Дата первого урагана в RU формате: ' + first_date.strftime('%d.%m.%Y')
us = 'Дата первого урагана в US формате: ' + first_date.strftime('%m/%d/%Y')

print(iso)
print(ru)
print(us)

Дата первого урагана в ISO формате: 2024-05-17
Дата первого урагана в RU формате: 17.05.2024
Дата первого урагана в US формате: 05/17/2024

In [11]:
from datetime import date

andrew = date(1992, 8, 24)

print(andrew.strftime('%Y-%m'))   # выводим дату в формате YYYY-MM
print(andrew.strftime('%B (%Y)'))   # выводим дату в формате month_name (YYYY)
print(andrew.strftime('%Y-%w'))   # выводим дату в формате YYYY-day_number

1992-08
August (1992)
1992-1

# Задача №1

In [26]:
Функция print_good_dates()
Тимур считает дату «интересной», если её год совпадает с годом его рождения, 

а сумма номера месяца
и номера дня равна его возрасту. Год рождения Тимура — 
1992, возраст — 
29 лет.

Реализуйте функцию print_good_dates(), которая принимает один аргумент:

dates — список дат (тип date)
Функция должна выводить «интересные» даты в порядке возрастания, каждую на отдельной строке, в формате  
    month_name DD, YYYY, где month_name — полное название месяца на английском. 

Примечание 1. Если в функцию передается пустой список или список без интересных дат, функция ничего не
    должна выводить.

Примечание 2. В тестирующую систему сдайте программу, содержащую только необходимую функцию 
    print_good_dates(), но не код, вызывающий ее.

Sample Input 1:
dates = [date(1992, 10, 19), date(1991, 12, 6), date(1992, 9, 20)]
print_good_dates(dates)
Sample Output 1:
September 20, 1992
October 19, 1992

dates = [date(1993, 9, 15), date(2021, 11, 2), date(2000, 7, 7)]
print_good_dates(dates)
'Nothing'

# TEST_5:
dates = [date(1257, 8, 22), date(1765, 8, 23), date(1999, 9, 9), date(1992, 6, 23), date(1993, 1, 28)]
print_good_dates(dates)

In [28]:
from datetime import date

def print_good_dates(dates):
    lst = []
    for i in dates:
        if i.year == 1992 and i.day + i.month == 29:
            lst.append(i)
    res = list(map(lambda x: x.strftime('%B %d, %Y'), sorted(lst)))
            
    print(*res, sep = '\n')

In [29]:
dates = [date(1992, 10, 19), date(1991, 12, 6), date(1992, 9, 20)]

In [30]:
print_good_dates(dates)

September 20, 1992
October 19, 1992

In [31]:
dates = [date(1993, 9, 15), date(2021, 11, 2), date(2000, 7, 7)]
print_good_dates(dates)

In [32]:
dates = [date(1257, 8, 22), date(1765, 8, 23), date(1999, 9, 9), date(1992, 6, 23), date(1993, 1, 28)]
print_good_dates(dates)

June 23, 1992

# Задача №2

In [ ]:
Функция is_correct()
Реализуйте функцию is_correct(), которая принимает три аргумента в следующем порядке:

day — натуральное число, день
month — натуральное число, месяц
year — натуральное число, год
Функция должна возвращать True, если дата с компонентами day, month и year является корректной, или False в противном случае.

Примечание 1. Вспомните про конструкцию try-except. 

Примечание 2. В тестирующую систему сдайте программу, содержащую только необходимую функцию is_correct(), но не код, вызывающий ее.

In [35]:
from datetime import date

def is_correct(day, month, year):
    try:
        res = date(day = day, month = month, year = year)
        return True
    except:
        return False

In [38]:
is_correct(12, 13, 1985)

False

# Задача №3

In [ ]:
Корректные даты
Напишите программу, которая принимает на вход последовательность дат и проверяет каждую из них на корректность.

Формат входных данных
На вход программе подается последовательность дат в формате DD.MM.YYYY, каждая на отдельной строке.
Концом последовательности является слово end.

Формат выходных данных
Программа должна для каждой введенной даты вывести текст Корректная или Некорректная в зависимости от того,
является ли дата корректной, а затем вывести количество корректных дат.

Примечание 1. Для анализа даты на корректность можете использовать уже реализованную функцию 
is_correct() из предыдущей задачи.

Sample Input 1:

19.05.2016
05.13.2010
21.12.2012
01.01.1000
32.04.2003
end
Sample Output 1:

Корректная
Некорректная
Корректная
Корректная
Некорректная
3

In [45]:
from datetime import date

count = 0
n = input()
while n != 'end':
    date_format = n.split('.')    
    try:
        date(day = int(date_format[0]), month = int(date_format[1]), year = int(date_format[2]))
        print("Корректная")
        count +=1
    except:
        print("Некорректная")

    n = input()
    
print(count)

 19.05.2016

Некорректная

 05.13.2010

Некорректная

 21.12.2012

Некорректная

 01.01.1000

Некорректная

 32.04.2003

Некорректная

 end