# Задача №1

In [ ]:
На вход программе подается число n. 

Напишите программу, которая создает и выводит построчно список, состоящий из 
n списков [[1, 2, ..., n], [1, 2, ..., n], ..., [1, 2, ..., n]].

In [6]:
n = int(input())

lst = [[i+1 for i in range(n)] for i in range(n)]

6

In [7]:
lst

[[1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6]]

In [18]:
for j in lst:
    print(j)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

# Задача №2

In [ ]:
На вход программе подается число n. 

Напишите программу, которая создает и выводит построчно вложенный список, 
состоящий из n списков [[1], [1, 2], [1, 2, 3], ..., [1, 2, ..., n]].

In [29]:
n = int(input())

lst = []

for i in range(n):
    
    lst.append([x+1 for x in range(i+1)])
    
for j in lst:
    print(j)

7
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

# Задача № 3

In [ ]:
Треугольник Паскаля — бесконечная таблица биномиальных коэффициентов, имеющая треугольную форму.
В этом треугольнике на вершине и по бокам стоят единицы.
Каждое число равно сумме двух расположенных над ним чисел.

На вход программе подается число n. 
Напишите программу, которая возвращает указанную строку треугольника 
Паскаля в виде списка (нумерация строк начинается с нуля).

In [97]:
n = int(input())

7

In [98]:
lst = []
for i in range(n):
    row = [0] * n
    row[0] = 1
    lst.append(row)
    
    
# Для того, чтобы не было проблем с n == 0:

# lst = []
# for i in range(n+1):
#     row = [0] * (n+1)
#     row[0] = 1
#     lst.append(row)

In [99]:
lst

[[1, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0]]

In [100]:
for i in range(len(lst)-1):
    for j in range(len(lst[i+1])-1):
        
        lst[i+1][j+1] = lst[i][j] + lst[i][j+1]

In [101]:
lst

[[1, 0, 0, 0, 0, 0, 0],
 [1, 1, 0, 0, 0, 0, 0],
 [1, 2, 1, 0, 0, 0, 0],
 [1, 3, 3, 1, 0, 0, 0],
 [1, 4, 6, 4, 1, 0, 0],
 [1, 5, 10, 10, 5, 1, 0],
 [1, 6, 15, 20, 15, 6, 1]]

In [110]:
lst[0]

[1, 0, 0, 0, 0, 0, 0]

In [ ]:
# How to remove all 0 from list using list(filter):

X = [0,5,0,0,3,1,15,0,12]
list(filter(lambda num: num != 0, X))
# [5, 3, 1, 15, 12]

In [118]:
for i in range(len(lst)):
    lst[i] = list(filter(lambda x: x != 0, lst[i]))
lst

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1]]

# Задача №4

In [ ]:
Треугольник Паскаля 2
На вход программе подается натуральное число n.
Напишите программу, которая выводит первые n строк треугольника Паскаля.

Формат входных данных
На вход программе подается число n

Формат выходных данных
Программа должна вывести первые n строк треугольника Паскаля, 
каждую на отдельной строке в соответствии с образцом.

In [2]:
n = int(input())

5

In [15]:
import numpy as np
a = np.zeros((n,n))

In [87]:
a = []

for i in range(n):
    a.append([0]*n)

In [88]:
[0]*5

[0, 0, 0, 0, 0]

In [89]:
a

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [90]:
for i in a:
    i[0] = 1

In [91]:
a

[[1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0]]

In [92]:
for i in range(n-1):
    for j in range(n-1):
        a[i+1][j+1] = a[i][j] + a[i][j+1]

In [93]:
a

[[1, 0, 0, 0, 0],
 [1, 1, 0, 0, 0],
 [1, 2, 1, 0, 0],
 [1, 3, 3, 1, 0],
 [1, 4, 6, 4, 1]]

In [94]:
for i in a:
    for j in i:
        if j != 0:
            print(j, end = ' ')
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

# Задача №5

In [ ]:
Упаковка дубликатов 🌶️
На вход программе подается строка текста, содержащая символы. 
Напишите программу, которая упаковывает последовательности одинаковых символов заданной строки в подсписки.

Формат входных данных
На вход программе подается строка текста, содержащая символы, отделенные символом пробела.

In [322]:
s = input().split()

a b c d e w w w

In [323]:
s

['a', 'b', 'c', 'd', 'e', 'w', 'w', 'w']

In [324]:
ss = s.copy()

In [325]:
ss

['a', 'b', 'c', 'd', 'e', 'w', 'w', 'w']

In [326]:
lst = []

while len(ss) > 0:
    
    tmp_lst = []    

    if len(ss) == 1:
        lst.append([ss[0]])
        ss.remove(ss[0])
        break
    elif len(ss) == 1:
            lst[-1].append(ss[0])
            break
        
    
    for i in range(len(ss) - 1):
        if ss[i] == ss[i+1]:
            tmp_lst.append(ss[i])
            s.remove(ss[i])
            print(s)
        else:
            tmp_lst.append(ss[i])
            s.remove(ss[i])
            print(s)
            break
            
    lst.append(tmp_lst)
    for j in tmp_lst:
        ss.remove(j)

['b', 'c', 'd', 'e', 'w', 'w', 'w']
['c', 'd', 'e', 'w', 'w', 'w']
['d', 'e', 'w', 'w', 'w']
['e', 'w', 'w', 'w']
['w', 'w', 'w']
['w', 'w']
['w']

In [327]:
ss

[]

In [328]:
lst

[['a'], ['b'], ['c'], ['d'], ['e'], ['w', 'w'], ['w']]

In [329]:
lst[-1]

['w']

In [336]:
if lst[-1][0] in lst[-2]:
    lst[-2].extend(lst[-1])
    lst.pop(-1)

In [337]:
lst

[['a'], ['b'], ['c'], ['d'], ['e'], ['w', 'w', 'w', 'w']]

# Задача №6

In [ ]:
Разбиение на чанки 🌶️

На вход программе подаются две строки: на одной – символы, на другой – число n.
Из первой строки формируется список.

Реализуйте функцию chunked(), которая принимает на вход список и число, задающее
размер чанка (куска), а возвращает список из чанков (кусков) указанной длины.

In [22]:
s = input().split()

n = int(input())

a b c d e
2

In [19]:
def chunked(s, n):
    lst = []
    
    while len(s) > 0:
    
        lst.append(s[:n])
    
        for j in s[:n]:
            s.remove(j)
            
    return lst

In [7]:
s[:n]

['a', 'b']

In [8]:
s

['a', 'b', 'c', 'd', 'e', 'f']

In [10]:
for j in s[:n]:
    s.remove(j)

In [11]:
s

['c', 'd', 'e', 'f']

In [14]:
lst = []

while len(s) > 0:
    
    lst.append(s[:n])
    
    for j in s[:n]:
        s.remove(j)

In [20]:
lst

[['c', 'd'], ['e', 'f']]

In [23]:
chunked(s, n)

[['a', 'b'], ['c', 'd'], ['e']]

In [24]:
s = input().split()

n = int(input())

def chunked(s, n):
    
    lst = []
    
    while len(s) > 0:
    
        lst.append(s[:n])
    
        for j in s[:n]:
            s.remove(j)
            
    return lst

chunked(s, n)

a s d f g h j
2

[['a', 's'], ['d', 'f'], ['g', 'h'], ['j']]