In [1]:
my_dict = {1.12: 'aa', 67.9: 45, 3.11: 'ccc', 7.9: 'dd', 9.2: 'ee', 7.1: 'ff', 0.12: 'qq', 1.91: 'aa', 10.12: [1, 2, 3], 99.0: {9, 0, 1}}

print(max(my_dict) + min(my_dict))

99.12

# Задача №1

In [2]:
# Дополните приведенный код, чтобы он вывел имена всех 
# пользователей (в алфавитном порядке), чей номер оканчивается на 8.

# Примечание. Имена необходимо вывести на одной строке, разделяя символом пробела.

users = [{'name': 'Todd', 'phone': '551-1414', 'email': 'todd@gmail.com'},
         {'name': 'Helga', 'phone': '555-1618', 'email': 'helga@mail.net'},
         {'name': 'Olivia', 'phone': '449-3141', 'email': ''},
         {'name': 'LJ', 'phone': '555-2718', 'email': 'lj@gmail.net'},
         {'name': 'Ruslan', 'phone': '422-145-9098', 'email': 'rus-lan.cha@yandex.ru'},
         {'name': 'John', 'phone': '233-421-32', 'email': ''},
         {'name': 'Lara', 'phone': '+7998-676-2532', 'email': 'g.lara89@gmail.com'},
         {'name': 'Alina', 'phone': '+7948-799-2434', 'email': 'ali.ch.b@gmail.com'},
         {'name': 'Robert', 'phone': '420-2011', 'email': ''},
         {'name': 'Riyad', 'phone': '128-8890-128', 'email': 'r.mahrez@mail.net'},
         {'name': 'Khabib', 'phone': '+7995-600-9080', 'email': 'kh.nurmag@gmail.com'},
         {'name': 'Olga', 'phone': '6449-314-1213', 'email': ''},
         {'name': 'Roman', 'phone': '+7459-145-8059', 'email': 'roma988@mail.ru'},
         {'name': 'Maria', 'phone': '12-129-3148', 'email': 'm.sharapova@gmail.com'},
         {'name': 'Fedor', 'phone': '+7445-341-0545', 'email': ''},
         {'name': 'Tim', 'phone': '242-449-3141', 'email': 'timm.ggg@yandex.ru'}]

In [11]:
lst = []
for i in users:
    for k, v in i.items():
        if k == 'phone' and i[k][-1] == '8':
            lst.append((i['name']))
            
print(*sorted(lst))

Helga LJ Maria Riyad Ruslan

# Задача №2

In [ ]:
# Дополните приведенный код, чтобы он вывел имена всех пользователей (в алфавитном порядке),
# у которых нет информации об электронной почте. 

# Примечание 1. Ключ email может отсутствовать в словаре.

# Примечание 2. Имена необходимо вывести на одной строке, разделяя символом пробела.

In [1]:
users = [{'name': 'Todd', 'phone': '551-1414', 'email': 'todd@gmail.com'},
         {'name': 'Helga', 'phone': '555-1618'},
         {'name': 'Olivia', 'phone': '449-3141', 'email': ''},
         {'name': 'LJ', 'phone': '555-2718', 'email': 'lj@gmail.net'},
         {'name': 'Ruslan', 'phone': '422-145-9098', 'email': 'rus-lan.cha@yandex.ru'},
         {'name': 'John', 'phone': '233-421-32', 'email': ''},
         {'name': 'Lara', 'phone': '+7998-676-2532', 'email': 'g.lara89@gmail.com'},
         {'name': 'Alina', 'phone': '+7948-799-2434'},
         {'name': 'Robert', 'phone': '420-2011', 'email': ''},
         {'name': 'Riyad', 'phone': '128-8890-128', 'email': 'r.mahrez@mail.net'},
         {'name': 'Khabib', 'phone': '+7995-600-9080', 'email': 'kh.nurmag@gmail.com'},
         {'name': 'Olga', 'phone': '6449-314-1213', 'email': ''},
         {'name': 'Roman', 'phone': '+7459-145-8059'},
         {'name': 'Maria', 'phone': '12-129-3148', 'email': 'm.sharapova@gmail.com'},
         {'name': 'Fedor', 'phone': '+7445-341-0545', 'email': ''},
         {'name': 'Tim', 'phone': '242-449-3141', 'email': 'timm.ggg@yandex.ru'}]

In [5]:
lst = []
for i in users:
    if 'email' not in i or i['email'] == '':
        lst.append(i['name'])
        
print(*sorted(lst))

Alina Fedor Helga John Olga Olivia Robert Roman

# Задача №3

In [ ]:
Строковое представление
Напишите программу, которая будет превращать натуральное число в строку, заменяя все цифры в числе на слова:

0
0 на zero;
1
1 на one;
2
2 на two;
3
3 на three;
4
4 на four;
5
5 на five;
6
6 на six;
7
7 на seven;
8
8 на eight;
9
9 на nine.

Формат входных данных
На вход программе подается натуральное число.

Формат выходных данных
Программа должна вывести строковое представление числа.

Примечание. Используйте словарь вместо условного оператора.

Sample Input 1:

230

Sample Output 1:

two three zero

In [23]:
d = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine', 0: 'zero'}

n = int(input())

230

In [20]:
str(n)

'230'

In [21]:
for i in str(n):
    for k, w in d.items():
        if int(i) == k:
            print(w, end = ' ')

two three zero

In [24]:
for i in str(n):
    print(d[int(i)], end = ' ')

two three zero

# Задача №4

In [ ]:
# Формат входных данных
# На вход программе подается одна строка – номер курса.

# Формат выходных данных
# Программа должна вывести номер курса, затем номер аудитории, имя преподавателя и 
# время проведения курса в соответствии с примерами.

# Примечание 1. Используйте словарь вместо условного оператора.

# Примечание 2. Для удобного вывода используйте строковый метод format() или f-строки.

Sample Input 1:

CS101

Sample Output 1:

CS101: 3004, Хайнс, 8:00

In [28]:
d = { "CS101": "CS101: 3004, Хайнс, 8:00", 
     "CS102": "CS102: 4501, Альварадо, 9:00", 
     "CS103": "CS103: 6755, Рич, 10:00", 
     "NT110": "NT110: 1244, Берк, 11:00", 
     "CM241": "CM241: 1411, Ли, 13:00" }

In [27]:
n = input()

CS101

In [29]:
d[n]

'CS101: 3004, Хайнс, 8:00'

In [31]:
print(f'Ответ: {d[n]} и точка')

Ответ: CS101: 3004, Хайнс, 8:00 и точка

# Задача №5

In [ ]:
Набор сообщений
На мобильных кнопочных телефонах текстовые сообщения можно отправлять с помощью цифровой клавиатуры.
Поскольку с каждой клавишей связано несколько букв, для большинства букв требуется несколько нажатий
клавиш. При однократном нажатии цифры генерируется первый символ, указанный для этой клавиши. 
Нажатие цифры 
2
,
3
,
4
2,3,4 или 
5
5 раз генерирует второй, третий, четвертый или пятый символ клавиши.

1	.,?!:
2	ABC
3	DEF
4	GHI
5	JKL
6	MNO
7	PQRS
8	TUV
9	WXYZ
0	space (пробел)
Напишите программу, которая отображает нажатия клавиш, необходимые для введенного сообщения.

Формат входных данных
На вход программе подается одна строка – текстовое сообщение.

Формат выходных данных
Программа должна вывести нажатия клавиш, необходимых для введенного сообщения.

Примечание 1. Ваша программа должна обрабатывать как прописные, так и строчные буквы.

Примечание 2. Ваша программа должна игнорировать любые символы, не указанные в приведенной выше таблице.

Sample Input 1:

Hello, World!

Sample Output 1:

4433555555666110966677755531111

In [7]:
d = {1: '.,?!', 2:'ABC', 3:'DEF', 4:'GHI', 5:'JKL', 6:'MNO', 7:'PQRS', 8:'TUV', 9:'WXYZ', 0: ' '}

In [9]:
s = input()

Hello, World!

In [ ]:
for i in s:
    if i in d.