In [1]:
numbers = {1,2,3,4,5}

In [2]:
max(numbers)

5

In [3]:
print(max(numbers) + min(numbers))

6

In [5]:
print(       sum ( [max(numbers), min(numbers)] )    )

6

In [6]:
myset1 = set([1, 2, 3, 4, 5])
myset2 = set("12345")

In [7]:
myset1

{1, 2, 3, 4, 5}

In [8]:
myset2

{'1', '2', '3', '4', '5'}

# Задача №1

In [ ]:
Количество различных символов
На вход программе подается строка текста. Напишите программу, которая определяет количество различных символов в строке.

Формат входных данных
На вход программе подается строка текста.

Формат выходных данных
Программа должна вывести количество различных символов в строке.

Примечание. Задачу можно решить в одну строчку кода.

Sample Input 1:

12345678910

Sample Output 1:

10

In [9]:
print(len(set(input())))

adfgadf
4

# Задача №2

In [ ]:
Неповторимые цифры
На вход программе подается строка, состоящая из цифр. Необходимо определить, верно ли, 
что в ее записи ни одна из цифр не повторяется?

Формат входных данных
На вход программе подается строка, состоящая из цифр

Формат выходных данных
Программа должна вывести YES если ни одна из цифр в строке не повторяется и NO в противном случае.

In [13]:
s = input()

1093482

In [18]:
if sorted(set(s)) == sorted(list(s)):
    print('YES')
else:
    print('NO')

YES

In [15]:
set(s)

{'0', '1', '2', '3', '4', '8', '9'}

In [16]:
list(s)

['1', '0', '9', '3', '4', '8', '2']

# Задача №3

In [ ]:
Все 10 цифр
На вход программе подаются две строки, состоящие из цифр. Необходимо определить, 
верно ли, что в записи этих двух строк используются все десять цифр?

Формат входных данных
На вход подаются две строки, состоящие из цифр.

Формат выходных данных
Программа должна вывести YES, если в записи этих двух строк используются все десять цифр, и NO в противном случае.

In [102]:
s = input()
s1 = input()

12345
56789620

In [103]:
sss = list(set(s))

In [104]:
ssss = list(set(s1))

In [105]:
sss.extend(ssss)

In [109]:
sss = list(map (int, sss))

In [110]:
sss

[2, 3, 4, 5, 1, 9, 2, 6, 7, 0, 8, 5]

In [111]:
set(sss)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [112]:
ss = set([1,2,3,4,5,6,7,8,9,0])

In [113]:
ss

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [115]:
if sorted(set(sss)) == sorted(ss):
    print('YES')
else:
    print('NO')

YES

# Задача №4

In [ ]:
Одинаковые наборы
На вход программе подаются две строки, состоящие из цифр. Необходимо определить, верно ли, 
что для записи этих строк были использованы одинаковые наборы цифр?

Формат входных данных
На вход подаются две строки, состоящие из цифр.

Формат выходных данных
Программа должна вывести YES, если для записи этих строк были использованы одинаковые 
наборы цифр и NO, в противном случае.

In [116]:
s = input()
ss = input()

12345
12345

In [117]:
if set(s) == set(ss):
    print('YES')
else:
    print('NO')

YES

# Задача №5

In [ ]:
Три слова
На вход программе подается строка, состоящая из трех слов. 
Верно ли, что для записи всех трех слов был использован один и тот же набор букв?

Формат входных данных
На вход программе подается строка, состоящая из трех слов.

Формат выходных данных
Программа должна вывести YES, если для записи всех трех слов был использован 
один и тот же набор букв и NO в противном случае.

In [118]:
s = input().split()

автор товар тварь

In [122]:
if set(s[0]) == set(s[1]) == set(s[2]):
    print('YES')
else:
    print('NO')

NO

# Задача №6

In [ ]:
Уникальные символы 1
Напишите программу для вывода количества уникальных символов каждого считанного слова без учета регистра.

Формат входных данных
На вход программе в первой строке подается число 
n – общее количество слов. Далее идут 
n строк с словами.

Формат выходных данных
Программа должна вывести на отдельной строке количество уникальных символов для каждого слова.

Sample Input 1:

3
Тимур
Beegeek
АнанАс


Sample Output 1:
5
4
3

In [4]:
n = int(input())

for i in range(n):
    s = input().upper()
    
    print(len(set(s)))

1
nbveh
5

# Задача №7

In [ ]:
Уникальные символы 2
Напишите программу для вывода общего количества уникальных символов во всех считанных словах без учета регистра.

Формат входных данных
На вход программе в первой строке подается число 
�
n – общее количество слов. Далее идут 
�
n строк со словами.

Формат выходных данных
Программа должна вывести одно число – общее количество уникальных символов во всех словах без учета регистра.

In [ ]:
n = int(input())
ss = ''
for i in range(n):
    s = input().upper()
    ss += s
    
print(len(set(ss)))

# Задача №8

In [ ]:
Количество слов в тексте
Напишите программу для определения общего количества различных слов в строке текста.

Формат входных данных
На вход программе подается строка текста.

Формат выходных данных
Программа должна вывести одно число – общее количество различных слов в строке без учета регистра.

Примечание 1. Словом считается последовательность непробельных символов, идущих подряд, 
слова разделены одним или большим числом пробелов.

Примечание 2. Знаками препинания .,;:-?! пренебрегаем.

In [65]:
s = input().lower().split()

Snowflakes, snowflakes falling down. Snowflakes, covering up the ground. Making a blanket, soft and white. Making a blanket in the night.

In [66]:
s

['snowflakes,',
 'snowflakes',
 'falling',
 'down.',
 'snowflakes,',
 'covering',
 'up',
 'the',
 'ground.',
 'making',
 'a',
 'blanket,',
 'soft',
 'and',
 'white.',
 'making',
 'a',
 'blanket',
 'in',
 'the',
 'night.']

In [73]:
ss = set()

for i in s:
    i = i.strip('.,;:-?!')
    print(i)
    ss.add(i)

snowflakes
snowflakes
falling
down
snowflakes
covering
up
the
ground
making
a
blanket
soft
and
white
making
a
blanket
in
the
night

In [74]:
ss

{'a',
 'and',
 'blanket',
 'covering',
 'down',
 'falling',
 'ground',
 'in',
 'making',
 'night',
 'snowflakes',
 'soft',
 'the',
 'up',
 'white'}

In [75]:
len(ss)

15

In [69]:
'snowflakes,'.strip('.,;:-?!')

'snowflakes'

# Задача №9

In [ ]:
# Встречалось ли число раньше?
# На вход программе подается строка текста, содержащая числа. Для каждого числа выведите слово 
# YES (в отдельной строке), если это число ранее встречалось в последовательности или NO, если не встречалось.

# Формат входных данных
# На вход программе подается строка текста, содержащая числа, разделенные символом пробела.

# Формат выходных данных
# Программа должна вывести текст в соответствии с условием задачи.

# Примечание. Ведущие нули в числах должны игнорироваться.

In [1]:
s = list(map (int, input().split()))

1 1 2 2 5 5 5 5 6 7 8

In [2]:
s

[1, 1, 2, 2, 5, 5, 5, 5, 6, 7, 8]

In [3]:
ss = set()

for i in s:
    if i in ss:
        print('YES')
    else:
        print('NO')
        ss.add(i)

NO
YES
NO
YES
NO
YES
YES
YES
NO
NO
NO