# Задача №1

In [ ]:
# Количество совпадающих
# На вход программе подаются две строки текста, содержащие числа. Напишите программу,
# которая определяет количество чисел, которые есть как в первой строке, так и во второй.

# Формат входных данных
# На вход программе подаются две строки текста, содержащие числа, отделенные символом пробела.

# Формат выходных данных
# Программа должна вывести количество чисел, содержащихся одновременно как 
# в первой строке, так и во второй.

In [5]:
s1 = set(list(map(int, input().split())))
s2 = set(list(map(int, input().split())))

1 2 4 5 6 7
6 7 8 9 1

In [7]:
print(len(s1 & s2))

3

# Задача №2

In [ ]:
# Общие числа
# На вход программе подаются две строки текста, содержащие числа. Напишите программу, 
# которая выводит все числа в порядке возрастания, которые есть как в первой строке, так и во второй.

# Формат входных данных
# На вход программе подаются две строки текста, содержащие числа, отделенные символом пробела.

# Формат выходных данных
# Программа должна вывести на одной строке множество чисел, встречающихся в обеих строках.

In [1]:
s1 = list(map(int, input().split()))
s2 = list(map(int, input().split()))

1 2 3 4 5
5 6 7 8 9

In [3]:
s3 = set(s1) & set(s2)

In [6]:
print(*sorted(s3))

5

# Задача №3

In [ ]:
# Числа первой строки
# На вход программе подаются две строки текста, содержащие числа. Напишите программу,
# которая выводит все числа в порядке возрастания, которые есть в первой строке, но отсутствуют во второй.

# Формат входных данных
# На вход программе подаются две строки текста, содержащие числа, отделенные символом пробела.

# Формат выходных данных
# Программа должна вывести множество чисел, встречающихся только в первой строке.

In [ ]:
s1 = list(map(int, input().split()))
s2 = list(map(int, input().split()))

s3 = set(s1) - set(s2)

print(*sorted(s3))

# Задача №4

In [ ]:
# Общие цифры
# На вход программе подается натуральное число 
# n, а затем 
# n различных натуральных чисел, каждое на отдельной строке. 
# Напишите программу, которая выводит все общие цифры в порядке возрастания у всех введенных чисел.

# Формат входных данных
# На вход программе подаются натуральное число 
# n≥1, а затем 
# n различных натуральных чисел, каждое на отдельной строке.

# Формат выходных данных
# Программа должна вывести цифры в соответствии с условием задачи. Если общих цифр нет, то ничего выводить не нужно.

# 4
# 12345
# 236
# 3452222
# 9302
# Sample Output 1:

# 2 3

In [10]:
n = int(input())

ss = []

for i in range(n):
    s = set(input())
    ss.append(s)

3
123
456
12345678

ss

In [11]:
ss

[{'1', '2', '3'}, {'4', '5', '6'}, {'1', '2', '3', '4', '5', '6', '7', '8'}]

In [12]:
set('123')

{'1', '2', '3'}

In [16]:
ss[0] & ss[1]

set()

In [14]:
ans

{'4', '5', '6'}

In [19]:
ans = ss[0]

for i in range(len(ss)):
    ans = ans & ss[i]

In [21]:
print(*ans)

In [ ]:
# Строгое и нестрогое подмножество?

In [3]:
set1 = {2, 3}
set2 = {1, 2, 3, 4, 5, 6}

print(set1 < set2)
print(set1 <= set2)

True
True

# Задача №5

In [ ]:
# Одинаковые цифры
# На вход программе подаются два числа. Напишите программу, определяющую, есть ли в данных числах одинаковые цифры.

# Формат входных данных
# На вход программе подаются два натуральных числа, каждое на отдельной строке.

# Формат выходных данных
# Программа должна вывести YES, если в записи данных чисел есть одинаковые цифры и NO если нет.


# Sample Input 1:

# 114
# 223

# Sample Output 1:

# NO

1523
3678

In [12]:
n = set(input())
m = set(input())

if n.isdisjoint(m):
    print('NO')
else:
    print('YES')

1523
3678
YES

In [13]:
n

{'1', '2', '3', '5'}

# Задача №6

In [ ]:
Все цифры
На вход программе подаются два числа. Напишите программу, которая определяет,
входят ли в запись первого числа все цифры, содержащиеся в записи второго 
(независимо от повтора, то есть количества цифр) числа или нет.

Формат входных данных
На вход программе подаются два натуральных числа, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести YES, если в запись первого числа входят все цифры, 
содержащиеся в записи второго числа и NO в противном случае.

Sample Input 1:

123456789
657
Sample Output 1:

YES

In [23]:
n = set(input())
m = set(input())

if n >= m:
    print('YES')
else:
    print('NO')

123456789
657
YES

In [19]:
n

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [20]:
m

{'5', '6', '7'}

# Задача №7

In [ ]:
Урок информатики
Даны по 
10-балльной шкале оценки по информатике трех учеников. 
Напишите программу, которая выводит множество оценок, которые есть 
и у первого и у второго учеников, но которых нет у третьего ученика.

Формат входных данных
На вход программе подаются оценки трех учеников, 
разделенные символом пробела (оценки каждого ученика на отдельной строке).

Формат выходных данных
Программа должна вывести множество оценок в порядке 
убывания на одной строке, разделенных пробелами, в соответствии с условием задачи.

Примечание. Оценка ученика находится в диапазоне от 
0 до 10 включительно.

Sample Input 1:

1 5 4 2 5 6 6 2 3 3 5 2
2 3 5 1 2 1 2 6 7 1 1 6
1 4 6 9 8 7 0 9 0 9 8 10

Sample Output 1:

5 3 2

Sample Input
2 9 3 4 6 10
2 3 4 5 2 10
2 3 4 5 3 9
Correct output:
10

In [45]:
s1 = list(map(int, input().split()))
s2 = list(map(int, input().split()))
s3 = list(map(int, input().split()))

2 9 3 4 6 10
2 3 4 5 2 10
2 3 4 5 3 9

In [46]:
s1

[2, 9, 3, 4, 6, 10]

In [47]:
s2

[2, 3, 4, 5, 2, 10]

In [48]:
s3

[2, 3, 4, 5, 3, 9]

In [49]:
ss = set(s1).intersection(s2) - set(s3)

In [51]:
print(*sorted(ss, reverse = True))

10

# Задача №8

In [ ]:
Урок математики
Даны оценки по математике трёх учеников в 
10-балльной шкале. Напишите программу, 
которая выводит такие оценки, которые встречаются не более, чем у двух учеников.

Формат входных данных
На вход программе подаются оценки трех учеников, разделенные символом пробела
(оценки каждого ученика на отдельной строке).

Формат выходных данных
Программа должна вывести множество оценок в порядке возрастания на одной строке,
разделенных пробелами, в соответствии с условием задачи.

Примечание. Оценка ученика находится в диапазоне от 

0 до 10 включительно.

Sample Input 1:

1 5 4 2 5 6 6 2 3 3 5 2
2 3 5 10 2 10 2 6 7 10 10 6
1 4 6 9 8 7 0 9 0 9 8 10

Sample Output 1:

0 1 2 3 4 5 7 8 9 10

In [100]:
s1 = list(map(int, input().split()))
s2 = list(map(int, input().split()))
s3 = list(map(int, input().split()))

1 5 4 2 5 6 6 2 3 3 5 2
2 3 5 10 2 10 2 6 7 10 10 6
1 4 6 9 8 7 0 9 0 9 8 10

In [101]:
set(s1).intersection(s2, s3)

{6}

In [104]:
set(s1 + s2 + s3) - set(s1).intersection(s2, s3)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10}

In [ ]:
Главное понять что значит:

встречаются не более, чем у двух из указанных учеников

Значит все, кроме тех, которые встречаются у всех трёх : )

# Задача №10

In [ ]:
Урок физики
Даны по 
10-балльной шкале оценки по физике трех учеников. 
Напишите программу, которая выводит множество оценок третьего ученика,
которые не встречаются ни у первого, ни у второго ученика.

Формат входных данных
На вход программе подаются оценки трех учеников, разделенные 
символом пробела (оценки каждого ученика на отдельной строке).

Формат выходных данных
Программа должна вывести множество оценок в порядке убывания на 
одной строке, разделенных пробелами, в соответствии с условием задачи.

Примечание. Оценка ученика находится в диапазоне от 
0 до 
10 включительно.

Sample Input 1:

1 5 4 2 5 6 6 2 3 3 5 2
2 3 5 1 2 1 2 6 7 1 1 6
1 4 6 9 8 7 0 9 0 9 8 10

Sample Output 1:

10 9 8 0

In [109]:
s1 = list(map(int, input().split()))
s2 = list(map(int, input().split()))
s3 = list(map(int, input().split()))

1 5 4 2 5 6 6 2 3 3 5 2
2 3 5 1 2 1 2 6 7 1 1 6
1 4 6 9 8 7 0 9 0 9 8 10

In [110]:
set(s1 + s2)

{1, 2, 3, 4, 5, 6, 7}

In [112]:
print(*sorted(set(s3) - set(s1 + s2), reverse = True))

10 9 8 0

# Задача №11

In [ ]:
Урок биологии
Даны по 
10
10-балльной шкале оценки по биологии трех учеников. Напишите программу, 
которая выводит множество оценок, не встречающихся ни у одного из трех учеников.

Формат входных данных
На вход программе подаются оценки трех учеников, разделенные символом пробела 
(оценки каждого ученика на отдельной строке).

Формат выходных данных
Программа должна вывести множество оценок в порядке возрастания на одной строке, 
разделенных пробелами, в соответствии с условием задачи.

Примечание. Оценка ученика находится в диапазоне от 
0 до 10 включительно.

Sample Input 1:

1 5 4 2 5 6 6 2 3 3 5 2
2 3 5 1 2 1 2 6 7 1 1 6
1 4 6 8 8 7 0 6 0 3 8 1
Sample Output 1:

9 10

In [114]:
s1 = list(map(int, input().split()))
s2 = list(map(int, input().split()))
s3 = list(map(int, input().split()))

ss = set(range(0,11, 1))

1 5 4 2 5 6 6 2 3 3 5 2
2 3 5 1 2 1 2 6 7 1 1 6
1 4 6 8 8 7 0 6 0 3 8 1

In [115]:
ss

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}