In [1]:
# Вложенные словари

In [5]:
info = {'emp1': {'name': 'Timur', 'job': 'Teacher', 'dict': {'dict', 'dict2'}},
        'emp2': {'name': 'Ruslan', 'job': 'Developer'},
        'emp3': {'name': 'Rustam', 'job': 'Tester'}}

In [6]:
import pandas as pd

In [7]:
pd.DataFrame(info)

               emp1       emp2    emp3
name          Timur     Ruslan  Rustam
job         Teacher  Developer  Tester
dict  {dict2, dict}        NaN     NaN

In [14]:
colors = {'c1': 'Red', 'c2': 'Grey', 'c3': None, 'c4': 'Green', 
          'c5': 'Yellow', 'c6': 'Pink', 'c7': 'Orange', 'c8': None, 
          'c9': 'White', 'c10': 'Black', 'c11': 'Violet', 'c12': 'Gold', 
          'c13': None, 'c14': 'Amber', 'c15': 'Azure', 'c16': 'Beige', 
          'c17': 'Bronze', 'c18': None, 'c19': 'Lilac', 'c20': 'Pearl', 
          'c21': None, 'c22': 'Sand', 'c23': None}

result = {}

result = {k: w for k,w in colors.items() if w is not None}

In [15]:
result

{'c1': 'Red',
 'c2': 'Grey',
 'c4': 'Green',
 'c5': 'Yellow',
 'c6': 'Pink',
 'c7': 'Orange',
 'c9': 'White',
 'c10': 'Black',
 'c11': 'Violet',
 'c12': 'Gold',
 'c14': 'Amber',
 'c15': 'Azure',
 'c16': 'Beige',
 'c17': 'Bronze',
 'c19': 'Lilac',
 'c20': 'Pearl',
 'c22': 'Sand'}

# Задача №1

In [ ]:
# В переменной s хранится строка пар число:слово. Дополните 
#     приведенный код, используя генератор, чтобы получить словарь 
#     result , в котором числа будут ключами, а слова – значениями.

# Примечание 1. Ключи словаря должны быть целыми числами (иметь тип int),
# значения – строками (иметь тип str).

# Примечание 2. Выводить содержимое словаря result не нужно.

In [25]:
s = '1:men 2:kind 90:number 0:sun 34:book 56:mountain 87:wood 54:car 3:island 88:power 7:box 17:star 101:ice'

result = {}

In [26]:
ss = s.split()

In [27]:
ss

['1:men',
 '2:kind',
 '90:number',
 '0:sun',
 '34:book',
 '56:mountain',
 '87:wood',
 '54:car',
 '3:island',
 '88:power',
 '7:box',
 '17:star',
 '101:ice']

In [29]:
for i in ss:
    i = i.split(':')
    result[int(i[0])] = i[1]

In [30]:
result

{1: 'men',
 2: 'kind',
 90: 'number',
 0: 'sun',
 34: 'book',
 56: 'mountain',
 87: 'wood',
 54: 'car',
 3: 'island',
 88: 'power',
 7: 'box',
 17: 'star',
 101: 'ice'}

# Задача №2

In [ ]:
Используя генератор, дополните приведенный код, чтобы получить словарь 
result , где ключом будет элемент списка numbers, а значением – отсортированный
по возрастанию список всех его делителей начиная с 1.

Примечание 1. Если бы список numbers имел вид: numbers = [1, 6, 18], то 
результатом был бы словарь

result = {1: [1], 6: [1, 2, 3, 6], 18: [1, 2, 3, 6, 9, 18]}

In [31]:
numbers = [34, 10, 4, 6, 10, 23, 90, 100, 21, 35, 95, 1, 36, 38, 19, 1, 6, 87, 1000, 13456, 360]

result = {}

sorted(numbers)

[1,
 1,
 4,
 6,
 6,
 10,
 10,
 19,
 21,
 23,
 34,
 35,
 36,
 38,
 87,
 90,
 95,
 100,
 360,
 1000,
 13456]

In [38]:
numbers = [1, 6, 18]

In [39]:
result = {i: [*set([j for j in sorted(numbers) if i%j == 0])] for i in sorted(numbers) }

In [40]:
result

{1: [1], 6: [1, 6], 18: [1, 18, 6]}

In [43]:
result = {i: [j for j in range(1, max(numbers)+1) if i%j == 0] for i in sorted(numbers)}

In [44]:
result

{1: [1], 6: [1, 2, 3, 6], 18: [1, 2, 3, 6, 9, 18]}

# Задача №3

In [ ]:
Даны три списка student_ids, student_names, student_grades, содержащие информацию о студентах.

Дополните приведенный код, используя генератор, так чтобы получить список result, 
содержащий вложенные словари в соответствии с образцом: [{'S001': {'Camila Rodriguez': 86}}, {'S002': {'Juan Cruz': 98}},...].

Примечание 1. Для параллельной итерации по всем трем спискам одновременно можно использовать встроенную функцию zip().

In [16]:
student_ids = ['S001', 'S002', 'S003', 'S004', 'S005', 'S006', 'S007', 'S008', 'S009', 'S010', 'S011', 'S012', 'S013'] 
student_names = ['Camila Rodriguez', 'Juan Cruz', 'Dan Richards', 'Sam Boyle', 'Batista Cesare', 'Francesco Totti', 'Khalid Hussain', 'Ethan Hawke', 'David Bowman', 'James Milner', 'Michael Owen', 'Gary Oldman', 'Tom Hardy'] 
student_grades = [86, 98, 89, 92, 45, 67, 89, 90, 100, 98, 10, 96, 93]

result = [{student_ids[i]: {student_names[i]: student_grades[i]}} for i in range(len(student_grades))]

In [17]:
result

[{'S001': {'Camila Rodriguez': 86}},
 {'S002': {'Juan Cruz': 98}},
 {'S003': {'Dan Richards': 89}},
 {'S004': {'Sam Boyle': 92}},
 {'S005': {'Batista Cesare': 45}},
 {'S006': {'Francesco Totti': 67}},
 {'S007': {'Khalid Hussain': 89}},
 {'S008': {'Ethan Hawke': 90}},
 {'S009': {'David Bowman': 100}},
 {'S010': {'James Milner': 98}},
 {'S011': {'Michael Owen': 10}},
 {'S012': {'Gary Oldman': 96}},
 {'S013': {'Tom Hardy': 93}}]

In [26]:
zip_list = list(zip(student_ids, student_names, student_grades))
zip_list

[('S001', 'Camila Rodriguez', 86),
 ('S002', 'Juan Cruz', 98),
 ('S003', 'Dan Richards', 89),
 ('S004', 'Sam Boyle', 92),
 ('S005', 'Batista Cesare', 45),
 ('S006', 'Francesco Totti', 67),
 ('S007', 'Khalid Hussain', 89),
 ('S008', 'Ethan Hawke', 90),
 ('S009', 'David Bowman', 100),
 ('S010', 'James Milner', 98),
 ('S011', 'Michael Owen', 10),
 ('S012', 'Gary Oldman', 96),
 ('S013', 'Tom Hardy', 93)]

In [27]:
result = [{i[0]: {i[1]: i[2]}} for i in zip_list]

In [28]:
result

[{'S001': {'Camila Rodriguez': 86}},
 {'S002': {'Juan Cruz': 98}},
 {'S003': {'Dan Richards': 89}},
 {'S004': {'Sam Boyle': 92}},
 {'S005': {'Batista Cesare': 45}},
 {'S006': {'Francesco Totti': 67}},
 {'S007': {'Khalid Hussain': 89}},
 {'S008': {'Ethan Hawke': 90}},
 {'S009': {'David Bowman': 100}},
 {'S010': {'James Milner': 98}},
 {'S011': {'Michael Owen': 10}},
 {'S012': {'Gary Oldman': 96}},
 {'S013': {'Tom Hardy': 93}}]