# Задача №1

In [ ]:
Напишите программу, которая с помощью функций filter() и map() отбирает
из заданного списка numbers трёхзначные числа, дающие при делении на 5
остаток 2, и выводит их кубы, каждый в отдельной строке.

Примечание. Остаток 
2 при делении на 
5 должно давать само число, а не его куб.

In [21]:
def map(function, items):
    result = []
    for item in items:
        result.append(function(item))
    return result


def filter(function, items):
    result = []
    for item in items:
        if function(item):
            result.append(item)
    return result


numbers = [1014, 1321, 675, 1215, 56, 1386, 1385, 431, 1058, 486, 1434, 696, 1016, 1084,
           424, 1189, 475, 95, 1434, 1462, 815, 776, 657, 1225, 912, 537, 1478, 1176, 544,
           488, 668, 944, 207, 266, 1309, 1027, 257, 1374, 1289, 1155, 230, 866, 708, 144,
           1434, 1163, 345, 394, 560, 338, 232, 182, 1438, 1127, 928, 1309, 98, 530, 1013,
           898, 669, 105, 130, 1363, 947, 72, 1278, 166, 904, 349, 831, 1207, 1496, 370, 725,
           926, 175, 959, 1282, 336, 1268, 351, 1439, 186, 273, 1008, 231, 138, 142, 433, 456,
           1268, 1018, 1274, 387, 120, 340, 963, 832, 1127]

def func1(x):
    if len(str(x)) == 3:
        return (x, x**3)
    
def func2(x):
    if x:
        if x[0] % 5 == 2:
            return x
    
lst = filter(func2, (map(func1, numbers)))

# lst = map(func1, numbers)


for i in lst:
    print(i[1])

283593393
758550528
154854153
8869743
16974593
12487168
6028568
849278123
2863288
57960603
575930368

In [11]:
filter(func2, numbers)

[1462,
 657,
 912,
 537,
 207,
 1027,
 257,
 232,
 182,
 1127,
 947,
 72,
 1207,
 1282,
 142,
 387,
 832,
 1127]

# Задача №2

In [2]:
# Напишите программу для вычисления и вывода суммы квадратов элементов списка numbers.

def reduce(operation, items, initial_value):
    acc = initial_value
    for item in items:
        acc = operation(acc, item)
    return acc


numbers = [97, 42, 9, 32, 3, 45, 31, 77, -1, 11, -2, 75, 5, 51, 34, 28, 46,
           1, -8, 84, 16, 51, 90, 56, 65, 90, 23, 35, 11, -10, 70, 90, 90, 12,
           96, 58, -8, -4, 91, 76, 94, 60, 72, 43, 4, -6, -5, 51, 58, 60, 30,
           38, 67, 62, 36, 72, 34, 82, 62, -1, 60, 82, 87, 81, -7, 57, 26, 36,
           17, 43, 80, 40, 75, 94, 91, 64, 38, 72, 29, 84, 38, 35, 7, 54, 31, 95,
           78, 27, 82, 1, 64, 94, 31, 29, -8, 98, 24, 61, 7, 73]

In [4]:
def operation(acc, item):
    acc += item**2
    return acc

In [5]:
reduce(operation, numbers, 0)

319563

In [12]:
def func(x):
    return x**2
        
sum(map(func, numbers))

319563

# Задача №3

In [ ]:
Напишите программу для вычисления и вывода суммы квадратов двузначных чисел, которые делятся на 7 без остатка.

Примечание 1. При решении задачи используйте функции filter(), map() и sum().

Примечание 2. На 7 должно делиться исходное двузначное число, а не его квадрат.

Примечание 3. Не забывайте про отрицательные двузначные числа.

In [3]:
def map(function, items):
    result = []
    for item in items:
        result.append(function(item))
    return result


def filter(function, items):
    result = []
    for item in items:
        if function(item):
            result.append(item)
    return result


numbers = [77, 293, 28, 242, 213, 285, 71, 286, 144, 276, 61, 298, 280, 214, 156, 227, 228,
           51, -4, 202, 58, 99, 270, 219, 94, 253, 53, 235, 9, 158, 49, 183, 166, 205, 183,
           266, 180, 6, 279, 200, 208, 231, 178, 201, 260, -35, 152, 115, 79, 284, 181, 92,
           286, 98, 271, 259, 258, 196, -8, 43, 2, 128, 143, 43, 297, 229, 60, 254, -9, 5,
           187, 220, -8, 111, 285, 5, 263, 187, 192, -9, 268, -9, 23, 71, 135, 7, -161, 65,
           135, 29, 148, 242, 33, 35, 211, 5, 161, 46, 159, 23, 169, 23, 172, 184, -7, 228,
           129, 274, 73, 197, 272, 54, 278, 26, 280, 13, 171, 2, 79, -2, 183, 10, 236, 276,
           4, 29, -10, 41, 269, 94, 279, 129, 39, 92, -63, 263, 219, 57, 18, 236, 291, 234,
           10, 250, 0, 64, 172, 216, 30, 15, 229, 205, 123, -105]

In [38]:
def function1(x):
    if len (str(abs(x))) == 2:
        if x % 7 == 0:
            return x**2

In [43]:
# map(function1, numbers)

In [40]:
def function2(x):    
    if x:
        return x

In [41]:
filter(function2, map(function1, numbers))

[5929, 784, 2401, 1225, 9604, 1225, 3969]

In [42]:
sum(filter(function2, map(function1, numbers)))

25137

# Задача №4

In [45]:
# Напишите функцию func_apply(), принимающую на вход функцию и список значений и 
# возвращающую список, в котором каждое значение будет результатом применения 
# переданной функции к переданному списку.

# Примечание 1. Приведенный ниже код, при условии, что функция func_apply() написана правильно

def add3(x):
    return x + 3


def mul7(x):
    return x * 7


# print(func_apply(mul7, [1, 2, 3, 4, 5, 6]))
# print(func_apply(add3, [1, 2, 3, 4, 5, 6]))
# print(func_apply(str, [1, 2, 3, 4, 5, 6]))
# должен выводить:

# [7, 14, 21, 28, 35, 42]
# [4, 5, 6, 7, 8, 9]
# ['1', '2', '3', '4', '5', '6']

In [46]:
def func_apply(func, items):
    lst = []
    for item in items:
        lst.append(func(item))
    return lst

In [47]:
print(func_apply(mul7, [1, 2, 3, 4, 5, 6]))
print(func_apply(add3, [1, 2, 3, 4, 5, 6]))
print(func_apply(str, [1, 2, 3, 4, 5, 6]))

[7, 14, 21, 28, 35, 42]
[4, 5, 6, 7, 8, 9]
['1', '2', '3', '4', '5', '6']

# Задача №5

In [ ]:
Напишите программу, которая с помощью встроенных функций filter(), map(), sorted() и reduce() 
выводит в алфавитном порядке список primary городов с населением более 
10000000 человек, в формате:

Cities: Beijing, Buenos Aires, ...

In [41]:
from functools import reduce

data = [['Tokyo', 35676000, 'primary'],
        ['New York', 19354922, 'nan'],
        ['Mexico City', 19028000, 'primary'],
        ['Mumbai', 18978000, 'admin'],
        ['Sao Paulo', 18845000, 'admin'],
        ['Delhi', 15926000, 'admin'],
        ['Shanghai', 14987000, 'admin'],
        ['Kolkata', 14787000, 'admin'],
        ['Los Angeles', 12815475, 'nan'],
        ['Dhaka', 12797394, 'primary'],
        ['Buenos Aires', 12795000, 'primary'],
        ['Karachi', 12130000, 'admin'],
        ['Cairo', 11893000, 'primary'],
        ['Rio de Janeiro', 11748000, 'admin'],
        ['Osaka', 11294000, 'admin'],
        ['Beijing', 11106000, 'primary'],
        ['Manila', 11100000, 'primary'],
        ['Moscow', 10452000, 'primary'],
        ['Istanbul', 10061000, 'admin'],
        ['Paris', 9904000, 'primary']]


f = filter(lambda x: x[1] > 10000000 and x[2] == 'primary', data)

ff = sorted(f, key = lambda x: x[0])

# res = reduce(lambda x: x + x[0] + ', ', ff, 'Cities: ')

# print(res[:-2])

In [42]:
ff

[['Beijing', 11106000, 'primary'],
 ['Buenos Aires', 12795000, 'primary'],
 ['Cairo', 11893000, 'primary'],
 ['Dhaka', 12797394, 'primary'],
 ['Manila', 11100000, 'primary'],
 ['Mexico City', 19028000, 'primary'],
 ['Moscow', 10452000, 'primary'],
 ['Tokyo', 35676000, 'primary']]

In [43]:
fff = list(map(lambda x: x[0], ff))

In [44]:
fff

['Beijing',
 'Buenos Aires',
 'Cairo',
 'Dhaka',
 'Manila',
 'Mexico City',
 'Moscow',
 'Tokyo']

In [45]:
reduce(lambda x, lst: x + lst[0]  + ', ', ff, 'Cities: ')[:-2]

'Cities: Beijing, Buenos Aires, Cairo, Dhaka, Manila, Mexico City, Moscow, Tokyo'

# Задача №6

In [ ]:
Напишите функцию func, используя синтаксис анонимных функций, которая принимает
целочисленный аргумент и возвращает значение True, если он делится без остатка на 
19 или на 
13 и False в противном случае.

Примечание 1. Следующий программный код:

print(func(19))
print(func(13))
print(func(20))
print(func(15))
print(func(247))

должен выводить:

True
True
False
False
True

In [60]:
def func(x):
    for i in map(lambda x: True if x % 19 == 0 or x % 13 == 0 else False, [x]):
        return i

In [63]:
print(func(19))
print(func(13))
print(func(20))
print(func(15))
print(func(247))

True
True
False
False
True

In [56]:
# Лучший вариант:
    
func = lambda x: x % 19 == 0 or x % 13 == 0

In [57]:
print(func(19))
print(func(13))
print(func(20))
print(func(15))
print(func(247))

True
True
False
False
True