# Задача №1

In [ ]:
Функция ignore_command() принимает на вход один строковый аргумент command – команда, которую нужно проверить,

и возвращает значение True, если в команде содержится подстрока из списка ignore и False – если нет.

def ignore_command(command):
    ignore = ['alias', 'configuration', 'ip', 'sql', 'select', 'update', 'exec', 'del', 'truncate']

    for word in ignore:
        if word in command:
            return True
    return False

Перепишите функцию ignore_command(), чтобы она использовала встроенные функции all()/any(), сохранив при этом ее функционал.

Примечание 1. Следующий программный код:

print(ignore_command('get ip'))
print(ignore_command('select all'))
print(ignore_command('delete'))
print(ignore_command('trancate'))
должен выводить:

True
True
True
False

In [4]:
def ignore_command(command):
    ignore = ['alias', 'configuration', 'ip', 'sql', 'select', 'update', 'exec', 'del', 'truncate']

    for word in ignore:
        if word in command:
            return True
    return False

print(ignore_command('get ip'))
print(ignore_command('select all'))
print(ignore_command('delete'))
print(ignore_command('trancate'))

True
True
True
False

In [13]:
def ignore_command(command):
    ignore = ['alias', 'configuration', 'ip', 'sql', 'select', 'update', 'exec', 'del', 'truncate']
    
    lst = []
    for i in ignore:
        lst.append(i in command)
    
    return any(lst)

print(ignore_command('get ip'))
print(ignore_command('select all'))
print(ignore_command('delete'))
print(ignore_command('trancate'))

True
True
True
False

In [ ]:
# Лучшие ответы:
    
return any(map(lambda x: x in command, ignore))

return any(word in command for word in ignore)

# Задача №2

In [ ]:
Используя параллельную итерацию сразу по трем спискам countries, capitals и
population выведите информацию о стране в формате:

<capital> is the capital of <country>, population equal <population> people.


Moscow is the capital of Russia, population equal 145934462 people.
Washington is the capital of USA, population equal 331002651 people.
...
Для каждой страны информацию выводить на отдельной строке.

In [15]:
countries = ['Russia', 'USA', 'UK', 'Germany', 'France', 'India']
capitals = ['Moscow', 'Washington', 'London', 'Berlin', 'Paris', 'Delhi']
population = [145_934_462, 331_002_651, 80_345_321, 67_886_011, 65_273_511, 1_380_004_385]

In [18]:
list(zip(countries, capitals, population))

[('Russia', 'Moscow', 145934462),
 ('USA', 'Washington', 331002651),
 ('UK', 'London', 80345321),
 ('Germany', 'Berlin', 67886011),
 ('France', 'Paris', 65273511),
 ('India', 'Delhi', 1380004385)]

In [19]:
for i in list(zip(countries, capitals, population)):
    print(f'{i[1]} is the capital of {i[0]}, population equal {i[2]} people.')

Moscow is the capital of Russia, population equal 145934462 people.
Washington is the capital of USA, population equal 331002651 people.
London is the capital of UK, population equal 80345321 people.
Berlin is the capital of Germany, population equal 67886011 people.
Paris is the capital of France, population equal 65273511 people.
Delhi is the capital of India, population equal 1380004385 people.

# Здача №3

In [ ]:
Внутри шара
На вход программе подаются три строки текста с вещественными числами, значениями абсцисс (
x), ординат (y) и аппликат (z) точек трехмерного пространства. Напишите программу для проверки
расположения всех точек с введенными координатами внутри либо на поверхности шара с центром в начале координат и радиусом 
R =2.

Формат входных данных
На вход программе подаются три строки текста с вещественными числами, 
разделенными символом пробела – абсциссы, ординаты и аппликаты точек в трехмерной системе координат.

Формат выходных данных
Программа должна вывести True если все точки с введенными координатами находятся 
внутри или на границе шара и False, если вне.

0.0 1.0 2.0
0.0 0.0 1.1
0.0 1.0 1.5

Примечание 1. Гарантируется, что количество чисел во всех трех строках одинаковое.

Примечание 2. Уравнение поверхности шара (сферы)

Примечание 3. Для решения задачи используйте встроенные функции all() и zip().

Примечание 4. Используйте следующие названия abscissas, ordinates, applicates для соответствующих списков.

In [21]:
abscissas = list(map(float, input().split()))
ordinates = list(map(float, input().split()))
applicates = list(map(float, input().split()))

0.0 1.0 2.0
0.0 0.0 1.1
0.0 1.0 1.5

In [28]:
list(zip(abscissas, ordinates, applicates))

[(0.0, 0.0, 0.0), (1.0, 0.0, 1.0), (2.0, 1.1, 1.5)]

In [39]:
print(all(map(lambda x: all(map(lambda i: i <= 2, x)), list(zip(abscissas, ordinates, applicates)))))

True

In [ ]:
x**2 + y**2 + z**2 <= 2

In [41]:
all(map(lambda xyz: xyz[0]**2 + xyz[1]**2 + xyz[2]**2 <= 4, list(zip(abscissas, ordinates, applicates))))

False

# Задача №4

In [ ]:
Корректный IP-адрес
IP-адрес – уникальный числовой идентификатор устройства в компьютерной сети, работающей по протоколу TCP/IP.

В 4-й версии IP-адрес представляет собой 
32-битное число. Адрес записывается в виде четырёх десятичных чисел (октетов) со значением от 

0 до 255 (включительно), разделённых точками, например, 
192.168.1.2
192.168.1.2.

Напишите программу с использованием встроенной функции all() для проверки корректности 
IP-адреса: все ли октеты в IP-адресе – числа со значением от 
0 до 255.

Формат входных данных
На вход программе подается строка в формате x.x.x.x, где x – непустой набор символов 0-9, a-z.

Формат выходных данных
Программа должна вывести True если введенная строка – корректный IP-адрес и False в противном случае.

Примечание. Ведущие нули следует игнорировать:

0001 = 1
006 = 6
0213 = 213
0000 = 0
00345 = 345
...

Sample Input 1:
10.0.1.1

Sample Output 1:
True


Sample Input 2:
10.1.1.a

Sample Output 2:
False

In [43]:
'0001'.lstrip('0')

'1'

In [44]:
s = input().split('.')

10.0.1.1

In [56]:
s

['10', '0', '1', '1']

In [52]:
all(map(lambda x: int(x.lstrip('0')) >= 0 and int(x.lstrip('0')) <= 255, s))

False

In [62]:
if all(map(lambda x: x.isdigit(), s)):
    print(all(map(lambda x: int(x) >= 0 and int(x) <= 255, s)))
else:
    print(False)

True

In [63]:
# Чем хорош оператор and, если первое условие неверно, то последующие не выполняются.

all(map(lambda x: x.isdigit(), s)) and all(map(lambda x: int(x) >= 0 and int(x) <= 255, s))

True

# Задача №5

In [ ]:
Интересные числа
На вход программе подаются два натуральных числа 
a и b. Напишите программу с использованием встроенной функции all() для обнаружения всех целых чисел в диапазоне 

[a;b], которые делятся на каждую содержащуюся в них цифру без остатка.

Формат входных данных
На вход программе подаются два натуральных числа 

a и 

b на отдельных строках.

Формат выходных данных
Программа должна вывести все числа из диапазона 

[a;b], удовлетворяющие условию задачи, на одной строке, разделяя их символом пробела.

Примечание. Числа, содержащие нули, неинтересны, их выводить не нужно.

In [1]:
a = int(input())
b = int(input())

1
25

In [4]:
range(a, b+1)

range(1, 26)

In [26]:
lst = []
for i in range(a, b+1):
    
    for j in range(len(str(i))):

        if int(str(i)[j]) != 0:
            if i % int(str(i)[j]) != 0:
                break
            lst.append(i)
print(*lst)

1 2 3 4 5 6 7 8 9 10 11 11 12 12 13 14 15 15 16 17 18 19 20 22 22 24 24

In [48]:
lst = []
for i in range(a, b+1):
    if all(i % int(str(i)[j]) == 0 for j in range(len(str(i))) if int(str(i)[j]) != 0):
        if '0' not in str(i):
            lst.append(i)
print(*lst)

1 2 3 4 5 6 7 8 9 11 12 15 22 24

In [37]:
set_1 = set([i for i in list(map(lambda x: x if len(str(x)) == lst.count(x) else 0, lst)) if i != 0])
set_1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 22, 24}

In [39]:
print(*sorted(list(set_1)))

1 2 3 4 5 6 7 8 9 11 12 15 22 24

# Задача №5

In [ ]:
Хороший пароль
Хороший пароль по условиям этой задачи состоит как минимум из 
7 символов, содержит хотя бы одну цифру, заглавную и строчную букву. 
Напишите программу со встроенной функцией any() для определения хорош ли введенный пароль.

Формат входных данных
На вход программе подаётся одна строка текста.

Формат выходных данных
Программа должна вывести YES, если строка – хороший пароль, и NO в противном случае.

Sample Input 1:
abcABC9

Sample Output 1:
YES


Sample Input 2:
abAB34

Sample Output 2:
NO

In [29]:
s = input()

12345678

In [30]:
import string

if all([len(s) >= 7, any(list(map(lambda x: x in string.ascii_letters.upper(), s))),
        any(list(map(lambda x: x in string.ascii_letters.lower(), s))), 
        any(list(map(lambda x: x in '1234567890', s)))]):
    print('YES')
else:
    print('NO')

NO

In [9]:
import string
string.ascii_letters.upper()

'ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [17]:
s

'abcABC9'

In [26]:
any(list(map(lambda x: x in string.ascii_letters.upper(), s)))

True

# Задача №6

In [ ]:
Отличники
Учитель Тимур проверял контрольные работы по математике в нескольких классах 
онлайн-школы BEEGEEK и решил убедиться, что в каждом классе есть хотя бы один отличник – ученик с оценкой 
5 по контрольной работе. Напишите программу с использованием встроенных 
функций all(), any() для помощи Тимуру в проверке.

Формат входных данных
На вход программе подается натуральное число 
n – количество классов. Затем для каждого класса вводится блок информации вида:

натуральное число 
k – количество учеников в классе;
далее вводится 
k строк вида: фамилия оценка.
Формат выходных данных
Программа должна вывести YES, если в каждом классе есть хотя бы один отличник, и NO в противном случае.


Sample Input 1:
4
3
Васечкин 4
Илюшин 5
Кривцов 3
2
Боталов 5
Петров 5
3
Лебеда 4
Ивлев 4
Суворов 5
2
Ласкер 4
Козлов 5

Sample Output 1:
YES

In [2]:
n = int(input())

all_classes = []
for i in range(n):
    k = int(input())
    class_num = []
    for j in range(k):
        class_num.append(input().split())
    all_classes.append(class_num)

4
3
В 4
И 5
К 3
2
Б 5
П 5
3
Л 4
И 4
С 5
2
яЛа 4
Ко 5

In [3]:
all_classes

[[['В', '4'], ['И', '5'], ['К', '3']],
 [['Б', '5'], ['П', '5']],
 [['Л', '4'], ['И', '4'], ['С', '5']],
 [['яЛа', '4'], ['Ко', '5']]]

In [12]:
[i for i in all_classes]

[[['В', '4'], ['И', '5'], ['К', '3']],
 [['Б', '5'], ['П', '5']],
 [['Л', '4'], ['И', '4'], ['С', '5']],
 [['яЛа', '4'], ['Ко', '5']]]

In [18]:
lst = []
for i in all_classes:
    lst.append((any(list(map( lambda x: x[1] == '5', i)))))
    
if all(lst):
    print('YES')
else:
    print('NO')

YES

In [ ]:
if (any(list(map( lambda x: x[1] == '5', cls)))):

In [8]:
any(list(map(lambda x: x[1] == '5', [['В', '4'], ['И', '5'], ['К', '3']])))

True