# 3.4 Распространённые форматы текстовых файлов: CSV, JSON

In [2]:
import csv

In [11]:
with open('example.txt') as f:
    reader = csv.reader(f)
    
    for i in reader:
        print(i)

['1', ' 2', ' 3']
['student_1', ' best', ' 100']
['student_2', ' good', ' 95']

# Задача

In [ ]:
# Вам дана частичная выборка из датасета зафиксированных преступлений, совершенных в городе 
# Чикаго с 2001 года по настоящее время.

# Одним из атрибутов преступления является его тип – Primary Type.

# Вам необходимо узнать тип преступления, которое было зафиксировано максимальное число раз в 2015 году.

# Файл с данными:
# Crimes.csv

In [14]:
import pandas as pd
df = pd.read_csv('Crimes.csv')

In [33]:
df['new_date'] = pd.to_datetime(df['Date'])

In [37]:
df_2015 = df[df['new_date'].dt.year == 2015]

In [43]:
df_2015['Primary Type'].describe()

count      2668
unique       25
top       THEFT
freq        596
Name: Primary Type, dtype: object

In [44]:
import json

In [68]:
student1 = {
    "first_name": "Oleg",
    "last_name": "Dean",
    "certificate": True,
    "scores": [
        70,
        80,
        90
    ],
    "description": "Good job, Greg"
}
student2 = {
    "first_name": "Wirl",
    "last_name": "Wood",
    "certificate": True,
    "scores": [
        70,
        80,
        90
    ],
    "description": "Nicely Done"
}
data = [student1, student2]

## чтобы прочитать испольузем json.dumps

In [51]:
print(json.dumps(data))

[{"first_name": "Oleg", "last_name": "Dean", "certificate": true, "scores": [70, 80, 90], "description": "Good job, Greg"}, {"first_name": "Wirl", "last_name": "Wood", "certificate": true, "scores": [70, 80, 90], "description": "Nicely Done"}]

In [49]:
print(json.dumps(data, indent = 4, sort_keys = True))

[
    {
        "certificate": true,
        "description": "Good job, Greg",
        "first_name": "Oleg",
        "last_name": "Dean",
        "scores": [
            70,
            80,
            90
        ]
    },
    {
        "certificate": true,
        "description": "Nicely Done",
        "first_name": "Wirl",
        "last_name": "Wood",
        "scores": [
            70,
            80,
            90
        ]
    }
]

## чтобы записать используем json.dump

In [58]:
with open('file_json_1.json', 'w') as f:
    json.dump(data, f, indent = 4)

In [60]:
df = pd.read_json('file_json_1.json')

In [61]:
df

  first_name last_name  certificate        scores     description
0       Oleg      Dean         True  [70, 80, 90]  Good job, Greg
1       Wirl      Wood         True  [70, 80, 90]     Nicely Done

In [70]:
data

[{'first_name': 'Oleg',
  'last_name': 'Dean',
  'certificate': True,
  'scores': [70, 80, 90],
  'description': 'Good job, Greg'},
 {'first_name': 'Wirl',
  'last_name': 'Wood',
  'certificate': True,
  'scores': [70, 80, 90],
  'description': 'Nicely Done'}]

In [71]:
json_data = json.dumps(data, indent = 4)

In [81]:
print(json_data)

[
    {
        "first_name": "Oleg",
        "last_name": "Dean",
        "certificate": true,
        "scores": [
            70,
            80,
            90
        ],
        "description": "Good job, Greg"
    },
    {
        "first_name": "Wirl",
        "last_name": "Wood",
        "certificate": true,
        "scores": [
            70,
            80,
            90
        ],
        "description": "Nicely Done"
    }
]

In [75]:
data_again = json.loads(json_data)

In [79]:
sum(data_again[0]['scores'])

240